<div layout="row">
	<md-card flex="50">
		<md-card-header>
	      <md-card-avatar>
	        <md-icon class="md-avatar-icon">center_focus_strong</md-icon>
	      </md-card-avatar>
	      <md-card-header-text>
	        <span class="md-title">Dirección</span>
	        <span class="md-subhead">{{data.calle}}, {{data.interseccion}}, </span>
	      </md-card-header-text>
	    </md-card-header>
	    <md-card-title>

	      <md-card-title-text>
	        <span class="md-headline">#, {{data.numero}}, Ciudad: {{data.codigo_ciiu}}, Canton: {{data.descripcion_canton}}, Provincia: {{data.descripcion_provincia}}</span>
	      </md-card-title-text>
	      <md-card-title-media>
	        	<img class="md-media-sm card-media" src="images/perfil/ubicacion.png">
	      </md-card-title-media>
	    </md-card-title>
	</md-card>
	<md-card flex="50">
		<md-card-header>
	      <md-card-avatar>
	        <md-icon class="md-avatar-icon">center_focus_strong</md-icon>
	      </md-card-avatar>
	      <md-card-header-text>
	        <span class="md-title">Dirección</span>
	        <span class="md-subhead">{{data.calle}}, {{data.interseccion}}, #, {{data.numero}}, Ciudad: {{data.codigo_ciiu}}, Canton: {{data.descripcion_canton}}, Provincia: {{data.descripcion_provincia}}</span>
	      </md-card-header-text>
	    </md-card-header>
	    <md-card-title>

	      <md-card-title-text>
	        <span class="md-headline">Direccion</span>
	        <span class="md-subhead"></span>
	      </md-card-title-text>
	      <md-card-title-media>
	        	<img class="md-media-sm card-media" src="images/perfil/ubicacion.png">
	      </md-card-title-media>
	    </md-card-title>
	</md-card>
</div>
<div layout="column">
	<md-card>
		<md-card-header>
	      <md-card-avatar>
	        <md-icon class="md-avatar-icon">center_focus_strong</md-icon>
	      </md-card-avatar>
	      <md-card-header-text>
	        <span class="md-title">Dirección</span>
	        <span class="md-subhead">{{data.calle}}, {{data.interseccion}}, </span>
	      </md-card-header-text>
	    </md-card-header>
	    <md-card-title>
	      <md-card-title-text>
	        <span class="md-subhead">{{data.actividad_economica}}</span>
	      </md-card-title-text>
	      <md-card-title-media>
	        	<img class="md-media-sm card-media" src="images/perfil/ubicacion.png">
	      </md-card-title-media>
	    </md-card-title>
	</md-card>
</div>