<md-toolbar>
  <div class="md-toolbar-tools md-toolbar-registro">
    <span flex></span>
    <md-button class="md-accent md-raised" aria-label="Learn More" ng-href="#/Registro">
      Iniciar Sesion
    </md-button>
  </div>
</md-toolbar>
<div layout="column" layout-align="center center">
    <h1>Nextbook, Red de Negocios</h1>
    <img ng-src="images/main/publi1.png">
    <div ng-controller="main_Ctrl as main_Ctrl">
      <form ng-submit="$event.preventDefault()" flex="100">
          <md-autocomplete 
              class="main-input-search"
              ng-disabled="isDisabled"
              md-no-cache="Cache"
              md-selected-item="selectedItem"
              md-search-text-change="main_Ctrl.searchTextChange(searchText)"
              md-search-text="searchText"
              md-selected-item-change="main_Ctrl.selectedItemChange(item)"
              md-items="item in items"
              md-item-text="item.nombre_comercial"
              md-min-length="0"
              placeholder="Negocios, servicios, empresas"
              md-menu-class="autocomplete-custom-template">
              <md-item-template>
                <span class="item-title">
                  <img ng-src="{{item.img.perfil}}" class="avatar-busqueda">
                  <span class="search-text"> {{item.nombre_comercial}} </span>
                </span>
              </md-item-template>
              <md-not-found>
                No hay servicios, negocios con ese valor.
              </md-not-found>
          </md-autocomplete>
      </form>    
    </div>
    <p class="md-caption">Buscar por serviciosm negocios, empresas, provincias.</p>
</div>