<lx-tabs lx-color="blue" >
    <lx-tab lx-label="Plantilla demo" >
        <p class="p+">Descargue la plantilla, esta le servira de guía para el formato que se requiere para subir la lista de sus productos. Descargue la plantilla de acuerdo al formato que se adapte a sus recursos</p>
        <center>
        <lx-button lx-size="xl" href='http://localhost/nethbook/server/storage/formatos/productos.csv' lx-type="raised" ng-click="downloadFileProductos()">Descargar plantilla .csv <md-icon>file_download</md-icon>
        </lx-button>
        <lx-button lx-size="xl" href='http://localhost/nethbook/server/storage/formatos/productos.xlsx' lx-type="raised" ng-click="downloadFileProductos()">Descargar plantilla excel<md-icon>file_download</md-icon>
        </lx-button>
        <lx-button lx-size="xl" href='http://localhost/nethbook/server/storage/formatos/productos.ods' lx-type="raised" ng-click="downloadFileProductos()">Descargar plantilla .ods<md-icon>file_download</md-icon>
        </lx-button>
        </center>
    </lx-tab>
    <lx-tab lx-label="Subir productos">
    <div ng-controller="inv_bienes_bienesCtrl">
      <p class="p+"><strong>Requerimientos del archivo:</strong> Tamaño del archivo maximo <strong>5Mb</strong>, archivos tipo <strong>.csv</strong>, <strong>.xlsx</strong>,<strong> .ods</strong>.</p>
        <center><input type="file" id="fileUpload" />
        <md-button class="md-raised md-primary" type="button" id="upload" value="Upload">Subir plantilla <md-icon>file_upload</md-icon></md-button>
        <br><br>
        </center>
        </div>
    </div>
    </lx-tab>
    </lx-tabs>
    </lx-tab>
</lx-tabs>

        




























<!-- <h1 class="text-center">INVENTARIO BIENES</h1>
<div layout-xs="column" layout="row">
    <md-card flex-xs flex-gt-xs="50" layout="column">
        <img class="md-card-image" src="images/app/tipos/tipo_consumo.png" alt="image caption">
        <md-list>
            <md-subheader class="md-no-sticky txt-center">INVENTARIO DE {{info_sucursal.giro_negocio.nombre | uppercase }}</md-subheader>
            <md-list-item ng-href="#/App/Inv_Bienes/Ubicacion">
                <md-icon>dashboard</md-icon>
                <p>UBICACIÓN</p>
            </md-list-item>
            <md-list-item ng-href="#/App/Inv_Bienes/Garantia">
                <md-icon>security</md-icon>
                <p> GARANTÍA</p>
            </md-list-item>
            <md-list-item ng-href="#/App/Inv_Bienes/Tipo_Garantia">
                <md-icon>security</md-icon>
                <p> TIPO GARANTÍA</p>
            </md-list-item>
        </md-list>
    </md-card>
    <md-card flex-xs flex-gt-xs="50" layout="column">
        <img class="md-card-image" src="images/app/inventario/bienes.png" alt="image caption">
        <md-list>
            <md-subheader class="md-no-sticky txt-center">INVENTARIO DE {{info_sucursal.giro_negocio.nombre | uppercase }}</md-subheader>
            <md-list-item ng-href="#/App/Inv_Bienes/Servicios">
                <md-icon>dashboard</md-icon>
                <p>SERVICIOS</p>
            </md-list-item>
            <md-list-item ng-href="#/App/Inv_Bienes/Categorias">
                <md-icon>dashboard</md-icon>
                <p> CATEGORIAS</p>
            </md-list-item>
            <md-list-item ng-href="#/App/Inv_Bienes/Tipo_Categorias">
                <md-icon>dashboard</md-icon>
                <p> TIPOS CATEGORIAS</p>
            </md-list-item>            
        </md-list>
    </md-card>
    <md-card flex-xs flex-gt-xs="50" layout="column">
        <img class="md-card-image" src="images/app/inventario/productos.png" alt="image caption">
        <md-list>
            <md-subheader class="md-no-sticky txt-center">INVENTARIO DE {{info_sucursal.giro_negocio.nombre | uppercase }}</md-subheader>
            <md-list-item ng-href="#/App/Inv_Bienes/Modelos">
                <md-icon>dashboard</md-icon>
                <p> MODELOS</p>
            </md-list-item>
            <md-list-item ng-href="#/App/Inv_Bienes/Tipo_Consumo">
                <md-icon>dashboard</md-icon>
                <p> TIPOS CONSUMO</p>
            </md-list-item>
            <md-list-item ng-href="#/App/Inv_Bienes/Estado_Descriptivo">
                <md-icon>assistant</md-icon>
                <p> ESTADO DESCRIPTIVO</p>
            </md-list-item>
        </md-list>
    </md-card>
    <md-card flex-xs flex-gt-xs="50" layout="column">
        <img class="md-card-image" src="images/app/tipos/categorias.png" alt="image caption">
        <md-list>
            <md-subheader class="md-no-sticky txt-center">PROCESOS</md-subheader>
            <md-list-item ng-href="#/App/Inv_Bienes/Marcas">
                <md-icon>view_day</md-icon>
                <p> MARCAS</p>
            </md-list-item>
        </md-list>
    </md-card>
</div>

 -->
