<br><br>
<div layout="column" flex="80" style="margin: 0px auto;">
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
                    <md-icon style="color: greenyellow;">file_download</md-icon>
                </md-button>
                <h2 flex md-truncate>Descargar plantilla de demostración</h2>
            </div>
            <span flex></span>
            <md-button class="md-fab md-mini" disable aria-label="Favorite">1
            </md-button>
        </div>
    </md-toolbar>
</div>
<br>
<md-content layout-padding layout-wrap>
    <div layout="column" flex="80" style="margin: 0px auto;">
        <div flex="50">
            <p class="p+">Seleccione la plantilla, esta le servira de guía para el formato que se requiere para subir la lista de sus productos. Descargue la plantilla de acuerdo al formato que se adapte a sus recursos</p>
            <center>
                <lx-button lx-size="s" href='http://localhost/nethbook/server/storage/formatos/productos.csv' lx-type="raised" ng-click="downloadFileProductos()">Descargar plantilla .csv
                    <md-icon>file_download</md-icon>
                </lx-button>
                <lx-button lx-size="s" href='http://localhost/nethbook/server/storage/formatos/productos.xlsx' lx-type="raised" ng-click="downloadFileProductos()">Descargar plantilla excel
                    <md-icon>file_download</md-icon>
                </lx-button>
                <lx-button lx-size="s" href='http://localhost/nethbook/server/storage/formatos/productos.ods' lx-type="raised" ng-click="downloadFileProductos()">Descargar plantilla .ods
                    <md-icon>file_download</md-icon>
                </lx-button>
            </center>
        </div>
    </div>
</md-content>
<br><br>
<hr />
<br>
<div layout="column" flex="80" style="margin: 0px auto;">
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
                    <md-icon style="color: greenyellow;">file_upload</md-icon>
                </md-button>
                <h2 flex md-truncate>Cargar plantilla de productos</h2>
            </div>
            <span flex></span>
            <md-button class="md-fab md-mini" disable aria-label="Favorite">2
            </md-button>
        </div>
    </md-toolbar>
</div>
<md-content layout-padding layout-wrap>
    <br>
    <div flex="80" style="margin: 0px auto;" ng-controller="inv_bienes_bienesCtrl">
        <p class="p+"><strong>Requerimientos del archivo:</strong> Tamaño del archivo maximo <strong>5Mb</strong>, archivos tipo <strong>.csv </strong>, <strong>.xlsx</strong>,<strong> .ods</strong>.</p>
        <center>
            <center><input type="file" id="fileUpload" />
                <md-button class="md-raised md-warn" type="button" id="upload" value="Upload">Subir plantilla
                    <md-icon>file_upload</md-icon>
                </md-button>
                <br><br>
            </center>
        </center>
    </div>
</md-content>





<!-- <h1 class="text-center">INVENTARIO BIENES</h1>
<div layout-xs="column" layout="row">
    <md-card flex-xs flex-gt-xs="50" layout="column">
        <img class="md-card-image" src="images/app/tipos/tipo_consumo.png" alt="image caption">
        <md-list>
            <md-subheader class="md-no-sticky txt-center">INVENTARIO DE {{info_sucursal.giro_negocio.nombre | uppercase }}</md-subheader>
            <md-list-item ng-href="#/App/Inv_Bienes/Ubicacion">
                <md-icon>dashboard</md-icon>
                <p>UBICACIÓN</p>
            </md-list-item>
            <md-list-item ng-href="#/App/Inv_Bienes/Garantia">
                <md-icon>security</md-icon>
                <p> GARANTÍA</p>
            </md-list-item>
            <md-list-item ng-href="#/App/Inv_Bienes/Tipo_Garantia">
                <md-icon>security</md-icon>
                <p> TIPO GARANTÍA</p>
            </md-list-item>
        </md-list>
    </md-card>
    <md-card flex-xs flex-gt-xs="50" layout="column">
        <img class="md-card-image" src="images/app/inventario/bienes.png" alt="image caption">
        <md-list>
            <md-subheader class="md-no-sticky txt-center">INVENTARIO DE {{info_sucursal.giro_negocio.nombre | uppercase }}</md-subheader>
            <md-list-item ng-href="#/App/Inv_Bienes/Servicios">
                <md-icon>dashboard</md-icon>
                <p>SERVICIOS</p>
            </md-list-item>
            <md-list-item ng-href="#/App/Inv_Bienes/Categorias">
                <md-icon>dashboard</md-icon>
                <p> CATEGORIAS</p>
            </md-list-item>
            <md-list-item ng-href="#/App/Inv_Bienes/Tipo_Categorias">
                <md-icon>dashboard</md-icon>
                <p> TIPOS CATEGORIAS</p>
            </md-list-item>            
        </md-list>
    </md-card>
    <md-card flex-xs flex-gt-xs="50" layout="column">
        <img class="md-card-image" src="images/app/inventario/productos.png" alt="image caption">
        <md-list>
            <md-subheader class="md-no-sticky txt-center">INVENTARIO DE {{info_sucursal.giro_negocio.nombre | uppercase }}</md-subheader>
            <md-list-item ng-href="#/App/Inv_Bienes/Modelos">
                <md-icon>dashboard</md-icon>
                <p> MODELOS</p>
            </md-list-item>
            <md-list-item ng-href="#/App/Inv_Bienes/Tipo_Consumo">
                <md-icon>dashboard</md-icon>
                <p> TIPOS CONSUMO</p>
            </md-list-item>
            <md-list-item ng-href="#/App/Inv_Bienes/Estado_Descriptivo">
                <md-icon>assistant</md-icon>
                <p> ESTADO DESCRIPTIVO</p>
            </md-list-item>
        </md-list>
    </md-card>
    <md-card flex-xs flex-gt-xs="50" layout="column">
        <img class="md-card-image" src="images/app/tipos/categorias.png" alt="image caption">
        <md-list>
            <md-subheader class="md-no-sticky txt-center">PROCESOS</md-subheader>
            <md-list-item ng-href="#/App/Inv_Bienes/Marcas">
                <md-icon>view_day</md-icon>
                <p> MARCAS</p>
            </md-list-item>
        </md-list>
    </md-card>
</div>

 -->