<md-content layout-wrap>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <input name="nom_modelo" ng-model="query.filter" type="text" required placeholder="Buscar" class="toolbar_search">
            <span flex></span>
            <md-button class="md-fab md-mini md-accent" ng-click="inv_categoria_padre_dialog_nuevo()">
                <md-tooltip md-direction="Bottom">Añadir Categoria Principal</md-tooltip>
                <md-icon class="md-primary" aria-label="añadir subcategoria">add</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-table-container layout-padding>
        <script type="text/ng-template" id="nodes_renderer.html">
            <div layout="row" ng-show="node.open">
                <div layout="row" flex="90">
                    <md-input-container style="margin: 0 0!important" flex>
                        <md-icon class="md-primary" aria-label="añadir subcategoria" ng-show="node.nodes.length>0" ng-click="comprimir(node)">
                            <md-tooltip md-direction="Bottom">{{(node.nodes.open==true)?'Reducir':'Abrir'}}</md-tooltip>
                            {{node.icon}}
                        </md-icon>
                        <md-icon class="md-primary" aria-label="añadir subcategoria" ng-show="node.nodes.length==0">
                            <md-tooltip md-direction="Bottom">Subcategoria</md-tooltip>
                            remove
                        </md-icon>
                        <input ng-model="node.nombre" type="text" aria-label="nombre" placeholder="Nombre" readonly>
                    </md-input-container>
                    <md-input-container style="margin: 0 0!important" flex>
                        <input ng-model="node.descripcion" type="text" aria-label="descripción" placeholder="Descripción" readonly>
                    </md-input-container>
                    <md-input-container style="margin: 0 0!important" flex ng-show="node.nodes.length==0">
                        <input ng-model="node.tipo_categoria.nombre" type="text" aria-label="descripción" placeholder="Tipo de Categoria" readonly>
                    </md-input-container>
                </div>
                <div flex>
                    <md-icon class="md-primary" aria-label="añadir subcategoria" ng-click="inv_categoria_hijo_dialog_nuevo(node)">
                        <md-tooltip md-direction="Bottom">Añadir Subcategoria</md-tooltip>
                        add
                    </md-icon>
                    <md-icon class="md-primary" aria-label="añadir subcategoria" ng-show="node.nodes.length==0" ng-click="inv_categoria_dialog_editar(node)">
                        <md-tooltip md-direction="Bottom">Añadir Subcategoria</md-tooltip>
                        mode_edit
                    </md-icon>
                    <md-icon class="md-accent" aria-label="eliminar" ng-click="">
                        <md-switch ng-model="node.estado_s" ng-change="inv_categoria_dialog_eliminar(node)" aria-label="Switch 1"></md-switch>
                </div>
            </div>
            <ol ui-tree-nodes="" ng-model="node.nodes" compact>
                <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
                </li>
            </ol>
        </script>
        <div ui-tree ng-show="categorias.length>0" compact>
            <ol ui-tree-nodes="" ng-model="categorias" id="tree-root">
                <li ng-repeat="node in categorias" ui-tree-node ng-include="'nodes_renderer.html'"></li>
            </ol>
        </div>
    </md-table-container>
    <div layout="row" ng-show="guardar_categorias">
        <span flex></span>
        <md-button ng-click="cancel()">Cancelar</md-button>
        <md-button type="reset">Limpiar</md-button>
        <md-button class="md-raised md-primary" type="button">Guardar</md-button>
    </div>