<div class="p+">

        <div flex-container="row">
            <div class="card__img card__img--left" style="height: 200px">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTv-OFqCvBKSIZKX_sIX5554hVL85GjynrsmniszlRDR924efL1">
            </div>
            <div flex-item flex-container="column">
                <div flex-item>
                    <div class="p+">
                    <md-content layout="column">
                    <md-subheader class="md-no-sticky" md-colors="('nb.app.configuracion.perfilSucursal' | routeSegmentStartsWith) ? {color:'blue'} : {color:'accent'}">{{info_sucursal.nombre }}</md-subheader>
                      <md-list-item>
                      <md-icon>business</md-icon>
                      <p md-colors="('nb.app.configuracion.perfilPersonal' | routeSegmentStartsWith) ? {color:'accent'} : {color:'blue'}"><strong>Actividad económica:</strong> {{datosEmpresa.actividad_economica}}</p>
                      </md-list-item> 
                      <md-list-item>
                      <md-icon>notifications_active</md-icon>
                      <p md-colors="('nb.app.configuracion.perfilPersonal' | routeSegmentStartsWith) ? {color:'accent'} : {color:'blue'}"><strong>Estado contribuyente:</strong> {{datosEmpresa.estado_contribuyente}}</p>
                      </md-list-item>
                      <md-list-item>
                      <md-icon>dns</md-icon>
                      <p md-colors="('nb.app.configuracion.perfilPersonal' | routeSegmentStartsWith) ? {color:'accent'} : {color:'blue'}"><strong>Razon Social:</strong> {{datosEmpresa.razon_social}}</p>
                      </md-list-item>
                      <md-list-item>
                      <md-icon>book</md-icon>
                      <p md-colors="('nb.app.configuracion.perfilPersonal' | routeSegmentStartsWith) ? {color:'accent'} : {color:'blue'}"><strong>RUC:</strong> {{datosEmpresa.ruc_ci}}</p>
                      </md-list-item>
                      <md-list-item>
                      <md-icon>reorder</md-icon>
                      <p md-colors="('nb.app.configuracion.perfilPersonal' | routeSegmentStartsWith) ? {color:'accent'} : {color:'blue'}"><strong>Obligado a llevar contabilidad:</strong> {{datosEmpresa.obligado_lleva_contabilida}}</p>
                      </md-list-item>
                      <md-list-item>
                      <md-icon>code</md-icon>
                      <p md-colors="('nb.app.configuracion.perfilPersonal' | routeSegmentStartsWith) ? {color:'accent'} : {color:'blue'}"><strong>Tipo contribuyente:</strong> {{datosEmpresa.tipo_contribuyente}}</p>
                      </md-list-item>
                      
                      <md-list-item>
                      <md-icon>date_range</md-icon>
                      <p md-colors="('nb.app.configuracion.perfilPersonal' | routeSegmentStartsWith) ? {color:'accent'} : {color:'blue'}"><strong>Fecha creación:</strong> {{datosEmpresa.fecha_creacion | amDateFormat:'dddd, MMMM YYYY, h:mm:ss a' | uppercase}}</p>
                      </md-list-item>
                      <md-list-item>
                      <md-icon>update</md-icon>
                      <p md-colors="('nb.app.configuracion.perfilPersonal' | routeSegmentStartsWith) ? {color:'accent'} : {color:'blue'}"><strong>Fecha inicio actividades:</strong> {{datosEmpresa.fecha_inicio_actividades | amDateFormat:'dddd, MMMM YYYY, h:mm:ss a' | uppercase}}</p>
                      </md-list-item>
                    </md-content>
                    </div>
                </div>
                <div class="card__actions">
                    <label>Inf Actualizada el :  {{data_usuario.fecha}}</label>           
                </div>
            </div>
        </div>
</div> 
<md-expansion-panel-group  md-component-id="expansionPanelGroup" style=" width: 80%">
  <md-expansion-panel md-component-id="expansionPanelTwo" >
      <md-expansion-panel-collapsed>
          <div class="md-title" >Configuraciones de la empresa</div>
          <div class="md-summary"  ></div>
          <md-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="$panel.Expanded();">
            <md-icon class="md-accent">settings</md-icon>
        </md-button>
      </md-expansion-panel-collapsed>
      <md-expansion-panel-expanded>
          <md-expansion-panel-header>
              <div class="md-title">Configuraciones de la empresa</div>
              <div class="md-summary"></div>
          </md-expansion-panel-header>
          <md-expansion-panel-content>
              <div layout="row">
                  <div flex="5"></div>
                  <md-input-container class="md-icon-float md-block" flex=90>
                      <md-icon class="md-primary">airplay</md-icon>
                      <label>Misión de la empresa</label>
                      <textarea name="bio" ng-model="datosEmpresa.mision" required md-maxlength="2000"></textarea>
                  </md-input-container>

                </div>
                <div layout="row">
                  <div flex="5"></div>
                  <md-input-container class="md-icon-float md-block" flex=90>
                    <md-icon class="md-primary">airplay</md-icon>
                    <label>Visión de la empresa</label>
                    <textarea name="bio" ng-model="datosEmpresa.vision" required md-maxlength="2000"></textarea>
                   
                  </md-input-container>
                    
                </div>
                <div layout="row">
                <div flex="5"></div>
                  <md-input-container class="md-icon-float md-block" flex=40>
                        <md-icon class="md-primary">airplay</md-icon>
                        <label>Slogan</label>
                        <textarea name="bio" ng-model="datosEmpresa.slogan" required md-maxlength="1500"></textarea>
                    </md-input-container>
                    <span flex=10></span>
                    <md-input-container class="md-icon-float md-block" flex=40>
                        <md-icon class="md-primary">airplay</md-icon>
                        <label>Valores</label>
                        <input type="text" ng-model="datosEmpresa.valores" uppercase  required>
                    </md-input-container>
                </div>
                 <div layout="row" layout-align="center center">
                    <md-button  md-no-ink class="md-raised md-primary" ng-click="descripcion()"  >
                      Guardar
                    </md-button>
                    <md-button class="md-raised" ng-click="$panel.collapse();" >Cancelar</md-button>
                </div>
          </md-expansion-panel-content>
      </md-expansion-panel-expanded>
  </md-expansion-panel> 
</md-expansion-panel-group>
