<!-- <div flex ></div> -->
<!-- <md-content flex layout="row" flex-gt-sm="90" flex-gt-md="65" app-view-segment="2" style="background: #EEEEEE"></md-content> -->
<md-content flex layout="row" app-view-segment="2"></md-content>
<md-sidenav md-component-id="right" md-is-locked-open="$mdMedia('gt-sm')" ng-show="IsVisible" style="background: #EEEEEE">
    <!-- <ng-switch on="data.selectedIndex" class="tabpanel-container" flex> -->
        <!-- <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="1">
            <md-card>
                <img ng-src="http://www.walldevil.com/wallpapers/w10/material-material-style-android-l-pattern-patterns-minimalism-simple-background-diamonds.jpg" class="md-card-image" alt="Washed Out">
                <md-tabs md-dynamic-height flex md-stretch-tabs="always">
                    <md-tab md-dynamic-height id="taba1">
                        <md-tab-label>
                            <md-icon>supervisor_account</md-icon>
                        </md-tab-label>
                        <md-tab-body>
                            <md-content id="chatbox">
                                <div id="friendslist">
                                    <div id="friends">
                                        <div class="friend" ng-repeat="item in todos" layout="row">
                                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/2_copy.jpg" />
                                            <p>
                                                <strong>Martin Joseph</strong>
                                                <span>marjoseph@gmail.com</span>
                                            </p>
                                            <div class="status away"></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="chatview" class="p1">
                                    <div id="profile">
                                        <div id="close">
                                            <div class="cy"></div>
                                            <div class="cx"></div>
                                        </div>
                                        <p>Miro Badev</p>
                                        <span>miro@badev@gmail.com</span>
                                    </div>
                                    <div id="chat-messages">
                                        <label>Thursday 02</label>

                                        <div class="message">
                                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                                            <div class="bubble">
                                                Really cool stuff!
                                                <div class="corner"></div>
                                                <span>3 min</span>
                                            </div>
                                        </div>

                                        <div class="message right">
                                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/2_copy.jpg" />
                                            <div class="bubble">
                                                Can you share a link for the tutorial?
                                                <div class="corner"></div>
                                                <span>1 min</span>
                                            </div>
                                        </div>

                                        <div class="message">
                                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                                            <div class="bubble">
                                                Yeah, hold on
                                                <div class="corner"></div>
                                                <span>Now</span>
                                            </div>
                                        </div>

                                        <div class="message right">
                                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/2_copy.jpg" />
                                            <div class="bubble">
                                                Can you share a link for the tutorial?
                                                <div class="corner"></div>
                                                <span>1 min</span>
                                            </div>
                                        </div>

                                        <div class="message">
                                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                                            <div class="bubble">
                                                Yeah, hold on
                                                <div class="corner"></div>
                                                <span>Now</span>
                                            </div>
                                        </div>

                                    </div>

                                    <div id="sendmessage">
                                        <input type="text" value="Send message..." />
                                        <button id="send"></button>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab-body>
                    </md-tab>
                    <md-tab id="taba2">
                        <md-tab-label>
                            <md-icon>forum</md-icon>
                        </md-tab-label>
                        <md-tab-body>
                            View for Item #2
                            <br/> data.selectedIndex = 1;
                        </md-tab-body>
                    </md-tab>
                    <md-tab id="taba3">
                        <md-tab-label>
                            <md-icon>alarm</md-icon>
                        </md-tab-label>
                        <md-tab-body>
                            View for Item #3
                            <br/> data.selectedIndex = 2;
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </md-card>
        </div> -->
        <!-- <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()"> -->
            <md-card>
                <!-- <img ng-src="http://www.walldevil.com/wallpapers/w10/material-material-style-android-l-pattern-patterns-minimalism-simple-background-diamonds.jpg"  alt="Washed Out"> -->
                <iframe class="md-card-image" src="https://www.youtube.com/embed/NCJkntL8uMo" frameborder="0" allowfullscreen></iframe>
                <md-card-actions layout="row" layout-align="end center">
                            <md-button prev-track flex><md-icon>skip_previous</md-icon></md-button>
                            <md-button pause-music flex><md-icon>stop</md-icon></md-button>
                            <md-button next-track flex><md-icon>skip_next</md-icon></md-button>
                </md-card-actions>
                <md-tabs md-dynamic-height  flex md-stretch-tabs="always">
                    <md-tab id="taba1">
                        <md-tab-label>
                            <md-icon>music_video</md-icon>
                        </md-tab-label>
                        <md-tab-body>
                            <md-content style="max-height: 450px!important;">
                                <md-list>
                                    <md-list-item ng-click="navigateTo('data usage', $event)" ng-repeat="music in songs">
                                        <img src="https://yt3.ggpht.com/0v8T0CTAv8VPxA5lJtz-tqJe-tR-3VQc0ONhD6Az2RWjNRnwh5QQzPYz5I7wbYljU_tQjZ2ok2W59_v_=s900-nd-c-c0xffffffff-rj-k-no" class="md-avatar" style="height: 20px; width: 20px" alt="{{music.options.face}}" />
                                        <p>Configuración General</p>
                                        <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)"  aria-label="call" music-player="play" add-song="music">
                                                <md-icon ng-if="currentPlaying.id == music.id">pause_circle_outline</md-icon>
                                                <md-icon ng-if="currentPlaying.id !== music.id">play_circle_outline</md-icon>
                                            </md-button>
                                    </md-list-item>
                                </md-list>
                            </md-content>
                        </md-tab-body>
                    </md-tab>
                    <md-tab id="taba2">
                        <md-tab-label>
                            Otros
                        </md-tab-label>
                        <md-tab-body>
                            <md-content style="max-height: 450px!important;">
                                <md-list>
                                    <md-list-item class="md-2-line" ng-repeat="music in songs">
                                        <img src="https://yt3.ggpht.com/0v8T0CTAv8VPxA5lJtz-tqJe-tR-3VQc0ONhD6Az2RWjNRnwh5QQzPYz5I7wbYljU_tQjZ2ok2W59_v_=s900-nd-c-c0xffffffff-rj-k-no" class="md-avatar" alt="{{music.options.face}}" />
                                        <div class="md-list-item-text">
                                            <h3> {{ music.artista }} </h3>
                                            <p> {{ music.nombre_cancion }} </p>
                                            <p> {{currentPlaying}} </p>
                                        </div>
                                        <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)"  aria-label="call" music-player="play" add-song="music">
                                            <md-icon ng-if="currentPlaying.id == music.id">pause_circle_outline</md-icon>
                                            <md-icon ng-if="currentPlaying.id !== music.id">play_circle_outline</md-icon>
                                        </md-button>
                                    </md-list-item>
                                </md-list>
                            </md-content>
                        </md-tab-body>
                    </md-tab>
                    <md-tab id="taba3">
                        <md-tab-label>
                            <md-icon>alarm</md-icon>
                        </md-tab-label>
                        <md-tab-body>
                            <md-content style="max-height: 450px!important;">
                                <md-list>
                                    <md-list-item class="md-2-line" ng-repeat="music in songs">
                                        <img src="https://yt3.ggpht.com/0v8T0CTAv8VPxA5lJtz-tqJe-tR-3VQc0ONhD6Az2RWjNRnwh5QQzPYz5I7wbYljU_tQjZ2ok2W59_v_=s900-nd-c-c0xffffffff-rj-k-no" class="md-avatar" alt="{{music.options.face}}" />
                                        <div class="md-list-item-text">
                                            <h3> {{ music.artista }} </h3>
                                            <p> {{ music.nombre_cancion }} </p>
                                            <p> {{currentPlaying}} </p>
                                        </div>
                                        <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)"  aria-label="call" music-player="play" add-song="music">
                                            <md-icon ng-if="currentPlaying.id == music.id">pause_circle_outline</md-icon>
                                            <md-icon ng-if="currentPlaying.id !== music.id">play_circle_outline</md-icon>
                                        </md-button>
                                    </md-list-item>
                                </md-list>
                            </md-content>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </md-card>
        <!-- </div> -->
    <!-- </ng-switch> -->
</md-sidenav>
