<md-toolbar layout="row">
    <div style="max-width:300px;" flex>
    </div>
    <div flex>
        <div class="md-toolbar-tools toolbar-center">
            <a href="#/Dash">
                <img src="images/logo/logo.fw.png" alt="Logo">
            </a>
            Nethbook
            <form class="search">
                <input type="search" name="q" placeholder="Search..." autocomplete="off" ng-model="search">
                <ul class="search-ac">
                    <li style="color:red" ng-repeat="item in registros | filter:search | limitTo: 5">{{item.nombre_comercial}}
                        <br><span>{{item.ruc}}</span></li>
                </ul>
            </form>
            <span flex></span>
            <a href="#/nb/Inicio" class="btn btn--l btn--white btn--icon" lx-ripple>
                <md-icon>home</md-icon>
            </a>
            <md-button ng-href="#/nb/Personal" class="" style="min-width:0px">{{datos_personales.primer_nombre}}</md-button>
            <a href="#/App" class="btn btn--l btn--white btn--icon" lx-ripple>
                <i class="mdi mdi-apps"></i>
            </a>
            <lx-dropdown lx-position="right">
                <lx-dropdown-toggle>
                    <lx-button lx-size="l" lx-color="white" lx-type="icon"><i class="mdi mdi-dots-vertical"></i></lx-button>
                </lx-dropdown-toggle>
                <lx-dropdown-menu>
                    <ul>
                        <li>
                            <a href="#/Perfil_Personal" class="dropdown-link">
                                <i class="mdi material-icons">shopping_cart</i>
                                <span>Planes</span>
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-link" href="#/Config/Terminos">
                                <i class="mdi material-icons">security</i>
                                <span>Terminos y Condiciones</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-link">
                                <i class="mdi"><md-icon>live_help</md-icon></i>
                                <span>¡ Preguntas !</span>
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <a href="#/nb/Config" class="dropdown-link">
                                <span>Configuración</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/Salir" class="dropdown-link">
                                <span>Salir</span>
                            </a>
                        </li>
                    </ul>
                </lx-dropdown-menu>
            </lx-dropdown>
            <a href="#/nb/Perfil">
                <span class="mdl-chip mdl-chip--contact">
                    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">{{nom_perfil | limitTo: 1}}</span>
                <span class="mdl-chip__text">{{nom_perfil | limitTo: 20}}</span>
                </span>
            </a>
        </div>
    </div>
    <div style="max-width:300px;" flex></div>
</md-toolbar>

<div layout="row" flex app-view-segment="1" class="view-next"></div>
<style type="text/css">
    #myInput {
        background: white url("file:///C:/Users/Deivid/Downloads/Compressed/10-search-dropdown_2/10-search-dropdown/img/search.png") 8px 6px no-repeat;
        font-size: 15px;
        height: 20px;
        border-radius: 20px;
        padding-left: 10px;
        width: 250px;
        -webkit-transition: width 0.3s ease-in-out;
        position: relative;
        left: 10px;
        color: rgb(255, 64, 129);
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0 1px #9ecaed;
        border: 0;
        height: 28px
    }
    
    #myInput:focus {
        width: 350px;
        -webkit-transition: width 0.5s ease-in-out;
    }
    
    #delete {
        float: right;
        width: 16px;
        position: relative;
        left: -31px;
    }
    
    .box-box {
        position: fixed;
        top: 50px;
        right: 35%;
        background: #FFF;
        z-index: 1px;
    }
    
    .contenedor-box {
        background: red;
        height: 10px
    }
    
    .search {
        position: relative;
        margin: 0 auto;
        width: 300px;
    }
    
    .search input {
        font-size: 15px;
        height: 20px;
        border-radius: 20px;
        padding-left: 10px;
        width: 250px;
        -webkit-transition: width 0.3s ease-in-out;
        position: relative;
        left: 10px;
        color: rgb(255, 64, 129);
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0 1px #9ecaed;
        border: 0;
        height: 25px
    }
    
    .search input:focus {
        width: 350px;
        -webkit-transition: width 0.5s ease-in-out;
    }
    
    .search input:focus + .search-ac {
        display: block;
    }
    
    .search-ac {
        display: none;
        position: absolute;
        top: 35px;
        left: -50;
        right: 0;
        width: 350px;
        z-index: 10;
        background: #fdfdfd;
        border: 1px solid;
        border-color: #cbcfe2 #c8cee7 #c4c7d7;
        border-radius: 3px;
        background-image: -webkit-linear-gradient(top, #fdfdfd, #eceef4);
        background-image: -moz-linear-gradient(top, #fdfdfd, #eceef4);
        background-image: -o-linear-gradient(top, #fdfdfd, #eceef4);
        background-image: linear-gradient(to bottom, #fdfdfd, #eceef4);
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }
    
    .search-ac:hover {
        display: block;
    }
    
    .search-ac li {
        display: block;
    }
    
    .search-ac li:first-child {
        margin-top: -1px;
    }
    
    .search-ac li:first-child:before,
    .search-ac li:first-child:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        left: 50%;
        margin-left: -5px;
        border: 5px outset transparent;
    }
    
    .search-ac li:first-child:before {
        border-bottom: 5px solid #c4c7d7;
        top: -11px;
    }
    
    .search-ac li:first-child:after {
        border-bottom: 5px solid #fdfdfd;
        top: -10px;
    }
    
    .search-ac li:first-child:hover:before,
    .search-ac li:first-child:hover:after {
        display: none;
    }
    
    .search-ac li:last-child {
        margin-bottom: -1px;
    }
    
    .search-ac a {
        display: block;
        position: relative;
        margin: 0 -1px;
        padding: 6px 40px 6px 10px;
        color: #808394;
        font-weight: 500;
        text-decoration: none;
        text-shadow: 0 1px white;
        border: 1px solid transparent;
        border-radius: 3px;
    }
    
    .search-ac a span {
        font-weight: 200;
    }
    
    .search-ac a:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -9px;
        width: 18px;
        height: 18px;
        background: url("../img/arrow.png") 0 0 no-repeat;
        z-index: 99;
    }
    
    .search-ac a:hover {
        color: white;
        text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
        background: #338cdf;
        border-color: #2380dd #2179d5 #1a60aa;
        background-image: -webkit-linear-gradient(top, #59aaf4, #338cdf);
        background-image: -moz-linear-gradient(top, #59aaf4, #338cdf);
        background-image: -o-linear-gradient(top, #59aaf4, #338cdf);
        background-image: linear-gradient(to bottom, #59aaf4, #338cdf);
        -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
        box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    }
    
    :-moz-placeholder {
        color: #a7aabc;
        font-weight: 200;
    }
    
    ::-webkit-input-placeholder {
        color: #a7aabc;
        font-weight: 200;
        line-height: 14px;
    }
    
    ::-webkit-search-decoration,
    ::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }
    
    .lt-ie9 .search input {
        line-height: 26px;
    }
</style>