<md-toolbar layout="row"  md-theme="teal" md-theme-watch="true">
    <div style="max-width:250px;" flex></div>
    <div flex>
        <div class="md-toolbar-tools toolbar-center">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="modal_footer()">
              <md-icon>menu</md-icon>
            </md-button>
            <a href="#/nb">
                <img src="images/logo/logo.fw.png" alt="Logo">
            </a>
            <div ng-controller="main_Ctrl as main_Ctrl">
              <form ng-submit="$event.preventDefault()" flex="100">
                  <md-autocomplete
                        class="main-input-search"
                        ng-disabled="isDisabled" 
                        md-no-cache="Cache"
                        md-selected-item="selectedItem" 
                        md-search-text-change="main_Ctrl.searchTextChange(searchText)" 
                        md-search-text="searchText" 
                        md-selected-item-change="main_Ctrl.selectedItemChange_ini(item)" 
                        md-items="item in items" 
                        md-item-text="item.nombre_comercial" 
                        md-min-length="0" 
                        placeholder="Negocios, servicios, empresas" 
                        md-menu-class="autocomplete-custom-template">
                        <md-item-template>
                            <span class="item-title">
                                <img ng-src="{{item.img.perfil}}" class="avatar-busqueda">
                                <span class="search-text"> {{item.nombre_comercial}} </span>
                            </span>
                        </md-item-template>
                        <md-not-found>
                           No hay servicios, negocios con ese valor.
                        </md-not-found>
                  </md-autocomplete>
              </form>    
            </div>
            <span flex></span>
            <a href="#/nb/Inicio" class="btn btn--l btn--white btn--icon" lx-ripple>
                <md-icon>home</md-icon>
            </a>
            <a href="#/nb/App/Administracion/Perfil_Personal">
                <span class="mdl-chip">
                    <span class="mdl-chip__text">{{datos_personales.primer_nombre}}</span>
                </span>
            </a>
            <a href="#/nb/App" class="btn btn--l btn--white btn--icon" lx-ripple>
                <i class="mdi mdi-apps"></i>
            </a>
            <lx-dropdown lx-position="right">
                <lx-dropdown-toggle>
                    <lx-button lx-size="l" lx-color="white" lx-type="icon"><i class="mdi mdi-dots-vertical"></i></lx-button>
                </lx-dropdown-toggle>
                <lx-dropdown-menu>
                    <ul>
                        <li>
                            <a href="#/Perfil_Personal" class="dropdown-link">
                                <i class="mdi material-icons">shopping_cart</i>
                                <span>Planes</span>
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-link" href="#/nb/App/Administracion/Terminos">
                                <i class="mdi material-icons">security</i>
                                <span>Terminos y Condiciones</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-link">
                                <i class="mdi"><md-icon>live_help</md-icon></i>
                                <span>¡ Preguntas !</span>
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <a href="#/nb/App/Administracion/Datos_Personal" class="dropdown-link">
                                <span>Configuración</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/Salir" class="dropdown-link">
                                <span>Salir</span>
                            </a>
                        </li>
                    </ul>
                </lx-dropdown-menu>
            </lx-dropdown>
            <span class="mdl-chip mdl-chip--contact">
                <a href="#/Seleccionar_Sucursal">
                    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white mdl-chip_hover_contact" style="font-size: 12px">       
                        {{info_sucursal.codigo_sri}}
                    </span>
                </a>
                <a href="#/nb/App/Administracion/Perfil_Sucursal">
                    <span class="mdl-chip__text mdl-chip_hover_text">{{nom_perfil | limitTo: 20}}</span>
                </a>
            </span>
        </div>
    </div>
    <div style="max-width:250px;" flex></div>
</md-toolbar>

<div layout="row" flex app-view-segment="1" class="view-next"></div>
