<md-toolbar layout="row"  layout-align="center center" style="position: fixed!important;">
    <div flex-gt-sm="90" flex-gt-md="60">
        <div class="md-toolbar-tools toolbar-center">
        <a href="#/Colaborador/Dash">
            <img src="images/logo/logo.fw.png"  alt="Logo">
        </a>
        nextbook.com.ec
        <span flex></span>
        <lx-search-filter lx-color="white" lx-closed="true">
            <input type="text" ng-model="vm.searchFilter.fourth">
        </lx-search-filter>
        <a href="#/Colaborador/Inicio" class="btn btn--l btn--white btn--icon"  lx-ripple>
            <i class="mdi mdi-home"></i>    
        </a>
        <a href="#/Colaborador/App" class="btn btn--l btn--white btn--icon"  lx-ripple>
            <i class="mdi mdi-apps"></i>    
        </a>
        <lx-dropdown lx-position="right" >
            <lx-dropdown-toggle>
                <lx-button lx-size="l" lx-color="white" lx-type="icon"><i class="mdi mdi-dots-vertical"></i></lx-button>
            </lx-dropdown-toggle>
            <lx-dropdown-menu>
                <ul>
                    <li>
                        <a class="dropdown-link">
                            <i class="mdi mdi-eye"></i>
                            <span>Preview</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-link">
                            <i class="mdi mdi-delete"></i>
                            <span>Move to trash</span>
                        </a>
                    </li>
                    <li><span class="dropdown-link dropdown-link--is-header">General</span></li>
                    <li><a class="dropdown-link">Something else here</a></li>
                    <li class="dropdown-divider"></li>
                    <li>
                        <a href="#/Colaborador/Salir" class="dropdown-link">
                            <i class="mdi mdi-exit-to-app"></i>
                            <span>Cerrar Sesión</span>
                        </a>
                    </li>
                </ul>
            </lx-dropdown-menu>
        </lx-dropdown>
        <a href="#/Colaborador/Perfil">
            <span class="mdl-chip mdl-chip--contact">
                <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">A</span>
                <span class="mdl-chip__text">{{nom_perfil}}</span>
            </span>
        </a>
        </div>
    </div>
</md-toolbar>
<div app-view-segment="1" style="position: relative; top: 64px"></div>