<md-content layout-padding layout-wrap layout="row">
    <div flex-gt-sm="90" flex-gt-md="80">
        sdjasldñaskjd
    </div>
</md-content>
<div layout="row">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" flex-xs flex-gt-md="20" layout="column" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <img src="http://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" class="md-card-image" alt="Banner Perfil">
        <div class="sidenav-header-profile">
            <span flex></span>
            <div class="sidenav-profile">
                <user-avatar></user-avatar>
                <span>{{localStorage.nombre_comercial | uppercase | limitTo: 50}}</span>
            </div>
        </div>
        <md-list ng-cloak>
            <md-list-item ng-click="navigateTo(item.link)" ng-repeat="item in menu">
                <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                <p> {{ item.title }} </p>
            </md-list-item>
            <md-list-item>
                <ng-md-icon icon="exit_to_app"></ng-md-icon>
                <p> Bloquear </p>
            </md-list-item>
            <md-list-item>
                <ng-md-icon icon="aspect_ratio"></ng-md-icon>
                <p> Pantalla Completa </p>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <div flex-xs layout="row" flex-gt-md="80" layout-padding>
        <md-card>
            <md-card-actions layout="row" layout-align="center center">
              <md-button class="md-accent md-raised" ng-click="editinfo()">
                Editar
              </md-button>
            </md-card-actions>
            <div layout="row" layout-align="center center">
                {{localStorage.nombre_comercial}}
            </div>
            <md-card-content>
                <p>{{localStorage.activitidad}}</p>
                <md-list>
                  <md-subheader class="md-no-sticky">Telefonos</md-subheader>
                    <md-list-item class="md-2-line" ng-repeat="telefono in localStorage.telefonos">
                      <ng-md-icon class="md-accent" icon="phone"></ng-md-icon>
                      <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                        <h3>{{telefono.dato}} </h3>
                        <p> {{telefono.tipo}} </p>
                      </div>
                      <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" ng-if="phone.options.actionIcon" aria-label="call">
                        <md-icon md-svg-icon="{{phone.options.actionIcon}}"></md-icon>
                      </md-button>
                    </md-list-item>
                </md-list>  
            </md-card-content>
            <md-card-content>
                {{sucursal.direccion}}
            </md-card-content>
        </md-card>
    	<div flex-xs layout="column" flex-gt-md="30" ng-controller="info_perfilCtrl">
            
        </div>
        <div flex-xs layout="column" flex-gt-md="70">
            <md-card>
            Area publicaciones,  en proceso
            </md-card>
        </div>
    </div>
</div>