<div layout="column">
  <div layout="row" layout-align="center">
    <div layout="row" flex-gt-md="65">
      <md-sidenav 
        class="md-sidenav-left menuWith"
        layout="column" 
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')">
        <div>
          <md-card>            
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">
                  <md-icon>business</md-icon>
                  <span class="md-title"> Sucursal </span>
                </span>
              </md-card-title-text>
            </md-card-title>
            <img ng-src="{{imgPerfil}}" class="card-media" alt="Sucursal Img Perfil">
          </md-card>
          <md-list>
            <md-subheader class="md-no-sticky">Menu</md-subheader>
            <md-list-item ng-click="navigateTo('data usage', $event)">
              <md-icon>photo_size_select_actual</md-icon>
              <p md-colors="{color:'blue'}">Presentacion</p>
            </md-list-item>
            <md-list-item ng-click="navigateTo('data usage', $event)">
              <md-icon>person</md-icon>
              <p md-colors="{color:'blue'}">Biografia</p>
            </md-list-item>
            <md-list-item ng-click="navigateTo('data usage', $event)">
              <md-icon>store</md-icon>
              <p md-colors="{color:'blue'}">Catalogo</p>
            </md-list-item>
            <md-list-item ng-click="navigateTo('data usage', $event)">
              <md-icon>supervisor_account</md-icon>
              <p md-colors="{color:'blue'}">Amigos</p>
            </md-list-item>
            <md-list-item ng-click="navigateTo('data usage', $event)">
              <md-icon>perm_contact_calendar</md-icon>
              <p md-colors="{color:'blue'}">Empleados</p>
            </md-list-item>
          </md-list>
        </div>
      </md-sidenav>
      <md-content flex>
        <md-card>
          <img src="{{imgPortada}}" class="md-card-image" alt="Sucursal Img Portada">
          <md-tabs md-stretch-tabs class="md-primary">
            <md-tab id="tab1" aria-controls="tab1-content" md-on-select="tabSelect('info')">
              Info
            </md-tab>
            <md-tab id="tab2" aria-controls="tab2-content" md-on-select="tabSelect('ubicacion')">
              Ubicacion
            </md-tab>
          </md-tabs>
          <md-content flex md-scroll-y app-view-segment="2"> </md-content>
        </md-card>
      </md-content>
    </div>
  </div>
</div>
