<div layout="column">
  <div layout="row" layout-align="center">
    <div layout="row" flex-gt-md="65">
      <md-sidenav 
        class="md-sidenav-left menuWith"
        layout="column" 
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')">
        <div>
          <md-card>            
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">
                  <md-icon>perm_identity</md-icon>
                  <span class="md-title"> Personal </span>
                </span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content layout="row" layout-align="space-between">
              <div class="md-media-xl card-media">
                <img ng-src="{{imgPerfilUsuario}}" alt="Personal Img Perfil">
              </div>             
            </md-card-content>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Actividad</span>
                <span class="md-subhead">
                  <div layout="row">
                    Nick: {{dataUsuario.nick}}<br>
                    Ciudad: {{dataUsuario.id_localidad.nombre}}<br>
                    Direción Electronica: {{dataUsuario.correo_electronico}}<br>
                  </div>
                </span>
              </md-card-title-text>
            </md-card-title>
          </md-card>
        </div>          
      </md-sidenav>
      <md-content flex>
        <md-card>
          <img src="{{imgPortadaUsuario}}" class="md-card-image" alt="Personal Img Portada">
          <md-content flex md-scroll-y app-view-segment="2"> </md-content>
        </md-card>
      </md-content>
    </div>
  </div>
</div>
