<div layout="column">
    <div layout="row">
        <md-content class="md-sidenav-left " md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" flex="20" style="background: #EEEEEE;padding-top: 8px;    padding-left: 10px;">
            <div layout="row" style="height: 40%;">
                <div class="demo-card-square mdl-card mdl-shadow--2dp" style="cursor: pointer;" ng-click="show_img($event,'Perfil')" ng-style="{'background-image': 'url(' + imgPerfil + ')','background-position': '0 0','background-size': 'contain'}">
                    <div class="mdl-card__title mdl-card--expand" style="padding-bottom: 46px;">
                        <h2 class="mdl-card__title-text">Mi Empresa</h2>
                    </div>
                </div>
                <div style="position: absolute; z-index: 9;">
                    <md-button class="md-icon-button md-accent" ng-click="show_upload_img_modal($event,'Perfil')" aria-label="More">
                        <md-icon>add_a_photo</md-icon>
                    </md-button>
                    <md-button class="md-icon-button md-accent" ng-click="show_lista_img_modal($event,'Perfil')" aria-label="More">
                        <md-icon>mode_edit</md-icon>
                    </md-button>
                </div>

            </div>
            <div layout="row">
                <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__supporting-text">
                        {{datos2.razon_social}}, {{datos2.tipo_contribuyente}}
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">Actividad Economica</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        {{datos2.actividad_economica | lowercase}}
                    </div>
                    <div class="mdl-card__menu">
                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                            <i class="material-icons">share</i>
                        </button>
                    </div>
                </div>
            </div>
        </md-content>
        <md-content flex style="background: #EEEEEE">
                <div class="p+">
                    <div class="card">
                        <div class="p+">
                            <strong class="fs-headline display-block">Actividad Economica</strong>
                            <span class="fs-subheading-1 tc-black-2 display-block">{{datos2.actividad_economica}}</span>
                            <div class="paragraph fs-body-1 mt+">
                                <p>
                                    Dirección:
                                </p>
                            </div>
                        </div>        
                    </div>
                </div>
                <md-card flex="100">
                      <leaflet lf-center="london" markers="data.markers" height="400px" width="100%"></leaflet>
                </md-card>     
            <md-content layout-padding layout-wrap style="background: #EEEEEE" app-view-segment="4"></md-content>
        </md-content>
    </div>
</div>