<md-dialog>
    <form name="form_inv_tc" ng-submit="data_inv_estado_descriptivo_update()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Actualizar, Estado Descriptivo</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout-padding>
                <md-input-container class="md-icon-float md-block">
                    <md-icon class="md-primary">view_compact</md-icon>
                    <label>Nombre Tipo Categoría</label>
                    <input name="nom_tipo_categoria" ng-model="data_inv_estado_descriptivo.nombre" type="text" required tipocategoriaupdate-validator>
                    <div ng-messages="form_inv_tc.nom_tipo_categoria.$error" ng-show="form_inv_tc.nom_tipo_categoria.$dirty">
                        <div ng-message="required">Campo Requerido</div>
                        <div ng-message="campo">Registro Repetido</div>
                    </div>
                </md-input-container>
                <md-input-container md-no-float class="md-block">
                    <md-icon class="md-primary">description</md-icon>
                    <label>Descripcion</label>
                    <textarea name="descripcion" ng-model="data_inv_estado_descriptivo.descripcion" type="text" required></textarea>
                    <div ng-messages="form_inv_tc.descripcion.$error" ng-show="form_inv_tc.descripcion.$dirty">
                        <div ng-message="required">Campo Requerido</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">Cancelar</md-button>
            <md-button type="reset">Limpiar</md-button>
            <md-button class="md-raised md-primary" type="submit" ng-disabled="form_inv_tc.$invalid">Guardar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>