<div layout="column" flex>
  <md-toolbar>
    <div class="md-toolbar-tools md-toolbar-registro">
      <h3>Nextbook, Red de Negocios</h3>
      <span flex></span>
      <lx-dropdown lx-position="right" lx-over-toggle="true" lx-width="250">
        <lx-dropdown-toggle>
          <lx-button lx-color="black" lx-type="icon">
            <md-icon>more_vert</md-icon>
          </lx-button>
        </lx-dropdown-toggle>
        <lx-dropdown-menu>
          <ul>
            <li>
            <a class="dropdown-link" ng-href="#/">
                <i class="md-accent mdi mdi-exit-to-app">
                </i>
                <span>
                  Cerrar Sesión
                </span>
            </a>
            </li>
          </ul>
        </lx-dropdown-menu>
      </lx-dropdown>
    </div>
  </md-toolbar>
  <div layout="row" layout-align="center center">
    <div class="p+">
      <div class="card">
        <div flex-container="row">
          <div class="card__img card__img--left" >
              <img src="images/actualizar_datos/img.jpg">
          </div>
          <div flex-item flex-container="column">
            <div class="p+">
              <form name="form_pass" ng-submit="cambiar_datos_password()">
                <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center">
                  <div layout-gt-sm="row" layout-align="center center" class="fs-headline display-block">
                      Actualizacion Claves Acceso Sistema
                  </div>
                </div>
                <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Ingrese su nueva contraseña</label>
                  <md-icon class="md-accent">streetview</md-icon>
                  <input type="password" id="password" name="password" ng-minlength="6" ng-maxlength="20"  ng-model="data.password" required ng-keyup ="ValidarClave()" />
                  
                  <div ng-messages="form_pass.password.$error">
                  <div class="bar" ></div>
                    <div ng-message="required" class="my-message">
                      <h6>
                        Ingrese una contraseña es requerido
                      </h6>
                    </div>
                      <div ng-message="minlength" class="my-message">
                        <h6>
                          Las contraseñas deben tener entre 6 y 20 caracteres.
                        </h6>
                      </div>
                      <div ng-message="pattern" class="my-message">
                        <h6>
                          Debe contener una minuscula &amp;letra mayúscula y un carácter especial (un número o un símbolo.)
                        </h6>
                      </div>
                  </div>
                </md-input-container>
              </div>            
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Repita nueva contraseña</label>
                  <md-icon class="md-accent">layers</md-icon>
                  <input type="password" id="password_c" name="password_c" ng-model="formData.password_c" valid-password-c="data.password" required />
                  <div ng-messages="form_pass.password_c.$error">
                      <div ng-message="noMatch">
                        <h6>
                          Las contraseñas no coinciden
                        </h6>
                      </div>
                  <div ng-message="required">
                    <h6>
                      Campo es requerido
                    </h6>
                  </div>
                  </div>
                </md-input-container>
              </div>
              <div layout-gt-sm="row" layout-align="center center">
                <md-button class="md-raised md-primary" type="submit" ng-disabled="form_pass.$invalid">
                  <md-icon ng-show="form_pass.$invalid">
                    report
                  </md-icon>
                  <md-icon ng-show="!form_pass.$invalid">
                    done
                  </md-icon>
                    Siguiente
                  </md-button>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>                                  
</div>
