/*importacion de fuente roboto*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

body, html {
    background: #EEEEEE!important;
    color: #757575!important;
    font-family: "Roboto";
}