/*importacion de fuente roboto*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

body, html {
    background: #EEEEEE!important;
    color: #757575!important;
    font-family: "Roboto";
}

/*main search*/
  .md-toolbar-tools {
      padding: 0 10%!important;
  }

  .main-input-search{
    width: 500px!important;
  }
  .avatar-busqueda{ /*input search*/
    padding-top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%
  }
  .search-text{ /*input search*/
    position: relative;
    padding-left: 10px;
    top: -10px
  }