<md-dialog aria-label="Form Consumo">
    <form name="form_inv_modelo" ng-submit="data_inv_garantia_eliminar()">
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">
                <h2>¿Está seguro de Eliminar?</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">Cancelar</md-button>
            <md-button class="md-raised md-accent" type="submit">Eliminar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>