<div layout="column" flex>
  <md-toolbar layout="row" layout-align="center center">
    <div style="font-size: 80%" flex-gt-sm="90" flex-gt-md="80">
      <div class="md-toolbar-tools md-toolbar-registro">
        <img src="images/logo/logo.fw.png" alt="Logo">
        <div class="banner1" >
            <h1>Netbook, Red de Negocios</h1>
        </div>                      
        <div class="banner2">
            <h1>Netbook</h1>
        </div> 
            <span flex></span>
        <lx-dropdown lx-position="right">
            <lx-dropdown-toggle>
                <lx-button lx-size="l" lx-color="white" lx-type="icon"><i class="mdi mdi-dots-vertical"></i></lx-button>
            </lx-dropdown-toggle>
            <lx-dropdown-menu>
                <ul>
                    <li>
                        <a href="#/Salir" class="dropdown-link">
                            <i class="mdi"><md-icon>exit_to_app</md-icon></i>
                            <span>Cerrar Sesión</span>
                        </a>
                    </li>
                </ul>
            </lx-dropdown-menu>
        </lx-dropdown>
      </div>
    </div>
  </md-toolbar>
  <md-content layout-padding layout-wrap>
    <div flex-gt-sm="60" flex="90" style=" margin: 0px auto;" >
      <div layout="column"  flex>
        <div class="p+">
          <md-card>
            <md-card-content class="md-accent">
              <md-input-container md-no-float class="md-block">
                <md-icon>search</md-icon>
                <input ng-model="sucursalSearch" name="dc" placeholder="Buscar por: codigo establecimiento, dirección" class="md-accent">
              </md-input-container>
            </md-card-content>
          </md-card>
        </div>
      </div>
      <div layout="column">
        <md-card flex ng-repeat="items in data_establecimiento | filter: sucursalSearch">
          <md-toolbar layout="row">
            <div class="md-toolbar-tools">
              <strong class="fs-headline display-block">Nombre comercial: {{items.nombre}} <md-icon>business</md-icon></strong>
            </div>
          </md-toolbar>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">
                <md-icon class="md-primary ">pages</md-icon>
                Codigo establecimiento: {{items.codigo_sri}}
              </span>
              <p>
                <md-icon class="md-primary ">location_city</md-icon>
                {{items.localizacion_sucursal.direccion | split:'/':0}}, {{items.localizacion_sucursal.direccion | split:'/':1}}
                <br/>              
                <md-icon class="md-primary ">room</md-icon>
                Dirección: {{items.localizacion_sucursal.direccion | split:'/':2}}                
              </p>
            </md-card-title-text>
            <md-card-title-media>
              <img src="images/image.png" class="md-media-sm card-media">
            </md-card-title-media>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button md-no-ink class="md-raised md-accent" ng-click="Select_Sucursal(items)">
              Seleccionar <md-icon>navigate_next</md-icon>
            </md-button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </md-content>
</div