<md-dialog aria-label="Cargar Imagen ">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Cargar Imagen Portada</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <lf-ng-md-file-input  name="files00" lf-files="files" lf-api="api09" lf-required lf-maxcount="5" lf-filesize="10MB" lf-mimetype="image/*" 
      lf-remove-label="Limpiar"
      lf-drag-and-drop-label="Arrastra las fotos aqui" 
      drag preview lf-browse-label="Buscar"></lf-ng-md-file-input>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
       Cancelar
      </md-button>
      <md-button ng-click="Upload()">
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

<style type="text/css">
.drop-box {
  background: #F8F8F8;
  border: 2px dashed #DDD;
  width: 100%;
  height: 215px;
  text-align: center;
  padding-top: 25px;
  font-size: 30px;
}
.dragover {
    border: 5px dashed blue;
}
</style>