<md-dialog aria-label="Cargar Imagen ">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Cargar Imagen Portada</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <!-- <lf-ng-md-file-input  name="files00" lf-files="files" lf-api="api09" lf-required lf-maxcount="5" lf-filesize="10MB" lf-mimetype="image/*" 
      lf-remove-label="Limpiar"
      lf-drag-and-drop-label="Arrastra las fotos aqui" 
      drag preview lf-browse-label="Buscar"></lf-ng-md-file-input> -->

      <input type="file" img-cropper-fileread image="cropper.sourceImage" />
        <div>
             <canvas ng-show="cropper.sourceImage!=undefinied" width="800" height="300" id="canvas" image-cropper image="cropper.sourceImage" cropped-image="cropper.croppedImage" crop-width="1000" crop-height="600" keep-aspect="true" touch-radius="30" crop-area-bounds="bounds" cors="no"></canvas>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
       Cancelar
      </md-button>
      <md-button ng-click="Upload()">
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
