<div layout-wrap>
    <!-- <md-toolbar class="md-toolbar-second"> -->
        <!-- <div class="md-toolbar-tools"> -->
            <!-- <input name="nom_modelo" ng-model="query.filter" type="text" required placeholder="Buscar" class="toolbar_search"> -->
            <span flex></span>
            <md-nav-bar md-selected-nav-item="1" nav-bar-aria-label="navigation links" class="md-primary">
              <md-nav-item md-nav-click="rep_fac_tipo_doc_filtro(item)" name="{{item.id}}" ng-repeat="item in tipo_consumos">
                {{item.nombre}}
              </md-nav-item>

            </md-nav-bar>
            
            
        <!-- </div> -->
    <!-- </md-toolbar> -->
    <md-table-container layout-padding>
        <table md-table md-row-select ng-model="selected" md-progress="promise">
            <thead md-head md-order="query.order" md-on-reorder="data_rep_facturas_get" >
                <tr md-row md-color="{background: 'indigo'}">
                    <th md-column md-numeric>Nro</th>
                    <th md-column md-numeric><md-icon>markunread_mailbox</md-icon> EMISOR FACTURA</th>
                    <th md-column md-numeric><md-icon>code</md-icon> CLAVE DE ACCESO</th>
                    <th md-column md-numeric><md-icon>attach_file</md-icon> TOTAL</th>
                    <th md-column md-numeric><md-icon>date_ranger</md-icon> FECHA</th>
                    <th md-column md-numeric>VER</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="dessert in mis_facturas">
                    <td md-cell>{{$index+1}}</td>
                    <td md-cell>{{dessert.nombre_comercial}}</td>
                    <td md-cell>
                         <md-button class="md-icon-button md-accent" ng-click="ver_clave_acceso(dessert)">
                            <md-icon>remove_red_eye</md-icon>
                            <md-tooltip>
                                Visualizar Clave de Acceso
                            </md-tooltip>
                        </md-button>
                    </td>
                    <td md-cell>{{dessert.total}}</td>
                    <td md-cell>{{dessert.fecha_emision | amDateFormat:'dddd, MMMM YYYY' | uppercase }}</td>
                    <td md-cell>
                        <md-button class="md-icon-button md-accent" ng-click="ver_factura(dessert)">
                            <md-icon>picture_as_pdf</md-icon>
                            <md-tooltip>
                                Visualizar Factura
                            </md-tooltip>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.pagina_actual" md-total="{{total}}" md-on-paginate="data_mis_facturas_get" md-page-select>
    </md-table-pagination>
     <table md-table ng-model="selected" md-progress="promise">
        <thead md-head md-order="query.order" md-on-reorder="data_rep_facturas_get">
            <tr md-row>
                <th md-column md-numeric ng-repeat="total in totales"><strong>{{total.nombre}}</strong></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row md-select="dessert" md-select-id="name" md-auto-select >
                <td md-cell ng-repeat="total in totales">{{filtromoney(total.total)}}</td>
            </tr>
        </tbody>
    </table>
</div>