<div layout-xs="column" layout="row">
	<div flex-xs flex-gt-xs="20" layout="column" md-content flex layout="row" layout-fill>
		<md-sidenav layout="column" class="main-sidenav md-sidenav-left" style="position:fixed !important; top: 64px;" md-component-id="navigation-drawer" md-is-locked-open="$mdMedia('gt-md')" layout="column">
		    <md-content md-scroll-y flex layout="column">
		        <md-sidemenu locked="true">
		            <md-sidemenu-group>
		        		<md-sidemenu-button href="#/Colaborador/App"><md-icon>apps</md-icon> App</md-sidemenu-button>
		        	</md-sidemenu-group>
		            <md-sidemenu-group>
		                <md-subheader class="md-no-sticky">Menu Colaboradores</md-subheader>
		                <md-sidemenu-button href="#/Colaborador/App/Colaboradores/Usuario"><md-icon>person</md-icon>Usuarios</md-sidemenu-button>
		                <md-sidemenu-button href="#/Colaborador/App/Colaboradores/Tipo_Usuario/"><md-icon>supervisor_account</md-icon>Tipo Usuarios</md-sidemenu-button>
		            </md-sidemenu-group>
		        </md-sidemenu>
		    </md-content>
		</md-sidenav>
	</div>
	<div layout-padding flex-xs flex-gt-xs="80" layout="column">
		<div app-view-segment="2"></div>
	</div>
</div>