<md-sidenav style="max-width:250px;" layout="column"  md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"  flex>
    <md-content layout="column">
        <img src="images/app/colaboradores/menu.png">
        <md-list-item href="#/App">
            <md-icon>arrow_back</md-icon>
            <p>Atras</p>
            <md-icon>pages</md-icon>
        </md-list-item>
        <md-subheader class="md-no-sticky text-center">Menú Colaboradores</md-subheader>
        <md-list-item ng-href="#{{item.path}}" ng-repeat="item in menu.children">
            <p> {{item.nombre}}</p>
            <md-icon>{{item.personalizacion.icon}}</md-icon>
        </md-list-item>
    </md-content>
</md-sidenav>
<md-content flex layout="column" >
    <div app-view-segment="3"></div>
</md-content>