<md-dialog>
    <form name="form_inv_tc" ng-submit="data_inv_categoria_guardar()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Nueva, categoría</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="md-dialog-content" style="width: 600px!important">
            <div layout="row">
                <span flex></span>
                <md-button class="md-fab md-mini md-primary" ng-click="add_categoria_padre()">
                    <md-tooltip md-direction="Bottom">Añadir Categoria Principal</md-tooltip>
                    <md-icon class="md-primary" aria-label="añadir subcategoria" >add</md-icon>
                </md-button>
            </div>

            <md-divider></md-divider> <br>
                <script type="text/ng-template" id="nodes_renderer.html">
                    <div layout="row">
                        <div  layout="row" flex="70">
                            <md-input-container style="margin: 0 0!important" flex>
                                <input ng-model="node.nombre" type="text" aria-label="nombre" >
                            </md-input-container>
                            <div class="md-icon-float md-block" style="margin-top: -33px;  padding-left: 10px;    padding-right: 10px;" flex>
                                <lx-select ng-show="(node.id + '').length>1" ng-model="node.tipo_categoria" lx-fixed-label="true" lx-allow-clear="true" lx-choices="lista_tipos_categorias" lx-display-filter="true" lx-fixed-label="true" lx-label="Tipo de Categoria" required>
                                    <lx-select-selected>
                                        {{ $selected.nombre }}
                                    </lx-select-selected>
                                    <lx-select-choices>
                                        {{ $choice.nombre }}
                                    </lx-select-choices>
                                </lx-select>
                            </div>
                        </div>

                        <div flex>
                            <md-icon class="md-primary" aria-label="añadir subcategoria" ng-click="newSubItem(this)">
                            <md-tooltip md-direction="Bottom">Añadir Subcategoria</md-tooltip>
                                add
                            </md-icon>
                            <md-icon class="md-accent" aria-label="eliminar" ng-click="remove(this)">
                            <md-tooltip md-direction="Bottom">Eliminar Subcategoria</md-tooltip>
                                delete
                            </md-icon>         
                        </div>
                    </div>

                    <ol ui-tree-nodes="" ng-model="node.nodes">
                        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                    </ol>
                </script>

                <div ui-tree ng-show="data.length>0">
                    <ol ui-tree-nodes="" ng-model="data" id="tree-root">
                        <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                    </ol>
                </div>
        </md-dialog-content>
        
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">Cancelar</md-button>
            <md-button type="reset">Limpiar</md-button>
            <md-button class="md-raised md-primary" type="submit" ng-disabled="btn_guardar">Guardar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>