<div layout="row" flex>
<md-sidenav style="max-width:250px;" layout="column" class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="4" flex>
    <md-content layout="column" >
        <img class="md-card-image" src="images/app/inv_servicios/menu.png" alt="image caption">
        <md-list-item href="#/nb/App">
            <md-icon>arrow_back</md-icon>
            <p>Atras</p>
            <md-icon>pages</md-icon>
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Menu de Inventario de Servicios</md-subheader>
        <md-list-item href="#/nb/App/Finanzas/Inventario/Inv_Servicios">
            <md-icon>home</md-icon>
            <p>INICIO</p>
        </md-list-item>
        <md-list-item href="#{{item.path}}" ng-repeat="item in menu.children"  ng-if="item.children.length == 0">
            <md-icon>{{item.personalizacion.icon}}</md-icon>
            <p> {{item.nombre}} </p>
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Configuración Base</md-subheader>
        <md-sidemenu class="scrollbar" id="style-1">
            <md-sidemenu-group >
                <md-sidemenu-content md-icon="home" ng-click="go_menu(item)" md-heading="{{item.nombre}}" md-arrow="true" ng-if="item.children.length != 0" ng-repeat="item in menu.children"> 
                    <md-sidemenu-button href="#{{item1.path}}" ng-repeat="item1 in item.children">{{item1.nombre}}</md-sidemenu-button>
                </md-sidemenu-content>
            </md-sidemenu-group>     
        </md-sidemenu>
    </md-content>
</md-sidenav>
<md-content flex class="md-padding" layout="column" ng-show="view_segment<=5">
    <sound-manager></sound-manager>
    <div app-view-segment="5"></div>
</md-content>
<md-content flex class="md-padding" layout="column" ng-show="view_segment>5">
    <sound-manager></sound-manager>
    <div app-view-segment="6"></div>
</md-content>
</div>