<h4 class="text-center"><i class="material-icons">settings</i> Configuración de la sucursal</h4>  
<md-expansion-panel-group  md-component-id="expansionPanelGroup" style=" width: 80%">
  <md-expansion-panel md-component-id="expansionPanelTwo" >
      <md-expansion-panel-collapsed>
          <div class="md-title" >Establecimiento / Sucursal</div>
          <div class="md-summary"  >{{datosSucursal.nombre }} - {{datosSucursal.codigo_sri}}</div>
          <md-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="$panel.Expanded();">
            <md-icon class="md-accent">keyboard_arrow_down</md-icon>
        </md-button>
      </md-expansion-panel-collapsed>
      <md-expansion-panel-expanded>
          <md-expansion-panel-header>
              <div class="md-title">Establecimiento / Sucursal</div>
              <div class="md-summary"></div>
          </md-expansion-panel-header>
          <md-expansion-panel-content>
              <div layout="row">
                    <md-input-container class="md-icon-float md-block" flex>
                        <md-icon class="md-primary">airplay</md-icon>
                        <label>Nombre Comercial del establecimiento</label>
                        <input type="text" ng-model="datosSucursal.nombre" uppercase ng-disabled="!data.cb1" required>
                    </md-input-container>
                    <div flex="5"></div>
                  <md-input-container class="md-icon-float md-block" flex>
                        <md-icon class="md-primary">airplay</md-icon>
                        <label>Hablanos un poco de lo que realizas en este establecimiento</label>
                        <textarea name="bio" ng-model="form.descripcion" required md-maxlength="150"></textarea>
                       
                    </md-input-container>
                </div>
                 <div layout="row" layout-align="center center">
                    <md-button  md-no-ink class="md-raised md-primary" ng-click="descripcion()"  >
                      Guardar
                    </md-button>
                    <md-button class="md-raised" ng-click="$panel.collapse();" >Cancelar</md-button>
                </div>
          </md-expansion-panel-content>
      </md-expansion-panel-expanded>
  </md-expansion-panel>

  <md-expansion-panel md-component-id="expansionPanelTree" >
      <md-expansion-panel-collapsed>
          <div class="md-title" >Correo</div>
          <div class="md-summary">{{datosPersonal.correo_electronico}}, {{statuss}}</div>
          <md-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="$panel.Expanded();">
            <md-icon class="md-accent">keyboard_arrow_down</md-icon>
        </md-button>
      </md-expansion-panel-collapsed>
      <md-expansion-panel-expanded >
          <md-expansion-panel-header>
              <div class="md-title">¿Desea cambiar correo?</div>
              <div class="md-summary"></div>
          </md-expansion-panel-header>
          <md-expansion-panel-content>
              <div layout="row">
                <md-input-container class="md-block" flex>
                </md-input-container>
                <md-input-container class="md-icon-float md-block" flex="10">
                  <strong class="md-primary">Correo principal</strong>
                </md-input-container>
                <md-input-container>
                    <div>
                      {{datosPersonal.correo_electronico}}
                      
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block" flex>
                    </md-input-container>
                </div>
                <b layout="row" layout-align="center center" class="md-padding">
                  {{status}}
                 </b>
                <div layout="row" layout-align="center center">
                    <md-button  md-no-ink class="md-primary" ng-click="showPrompt($event)"  >
                      ¿Agregar otra dirección de correo electrónico?
                    </md-button>
                </div>
                <div layout="row" layout-align="center center">
                    <md-button  md-no-ink class="md-raised md-primary" ng-click="$panel.collapse()"  >
                      Guardar
                    </md-button>
                    <md-button class="md-raised" ng-click="$panel.collapse();" >Cancelar</md-button>
                </div>
                
          </md-expansion-panel-content>
      </md-expansion-panel-expanded>
  </md-expansion-panel>
    <md-expansion-panel md-component-id="expansionPanelFour" >
        <md-expansion-panel-collapsed>
            <div class="md-title" >Giro de Negocio</div>
            <div class="md-summary" >{{datosSucursal.giro_negocio.nombre}} - {{datosSucursal.giro_negocio.descripcion}}</div>
            <md-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="$panel.Expanded();">
                <md-icon class="md-accent">keyboard_arrow_down</md-icon>
            </md-button>
        </md-expansion-panel-collapsed>

        <md-expansion-panel-expanded>
            <md-expansion-panel-header>
                <div class="md-title" >Giro de Negocio</div>
                <div class="md-summary" ></div>
            </md-expansion-panel-header>
            <md-expansion-panel-content layout="row">               
                <md-radio-group ng-model="Tipo"  required flex>
                    <div ng-repeat='item in tipo_bienes_servicios' layout-align="start center">
                        <div flex layout='row' layout-align="start center">
                            <div flex style="max-width:200px; position: relative; text-align: right; padding-right: 10px; top: -6px;">
                                {{item.nombre}}
                            </div>
                            <md-radio-button ng-value="item.id" ng-click="selected_Tipo(item)">
                                <md-tooltip md-direction="right">
                                    {{item.descripcion | uppercase}}
                                </md-tooltip>
                            </md-radio-button>
                        </div>
                    </div>
                </md-radio-group>
                <md-input-container class="md-icon-float md-icon-left md-block" flex>
                    <md-icon class="md-primary">class</md-icon>
                    <lx-select ng-model="ModelTipo_Tipo_Empresa.selectedTipo" lx-allow-clear="true" lx-choices="tipo_empresas" lx-display-filter="true" lx-fixed-label="true" lx-label="Selecione una o varias actividades econónomicas" lx-multiple="true" required>
                        <lx-select-selected>
                            <strong>{{ $selected.nombre}}</strong> {{ ' - '+$selected.descripcion }}
                        </lx-select-selected>
                        <lx-select-choices>
                            <strong>{{ $choice.nombre}}</strong> {{ ' - '+$choice.descripcion }}
                        </lx-select-choices>
                    </lx-select>
                </md-input-container>
            </md-expansion-panel-content>
           <div layout="row" layout-align="center center">
                    <md-button  md-no-ink class="md-raised md-primary" ng-click="expresion(); $panel.collapse();"  >
                      Guardar
                    </md-button>
                    <md-button class="md-raised" ng-click="$panel.collapse();" >Cancelar</md-button>
                </div>
        </md-expansion-panel-expanded>
    </md-expansion-panel>
   <md-expansion-panel md-component-id="expansionPanelFive">
      <md-expansion-panel-collapsed>
          <div class="md-title" >Contactos</div>
          <div class="md-summary" >{{num}}</div>
          <md-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="$panel.Expanded();">
            <md-icon class="md-accent">keyboard_arrow_down</md-icon>
        </md-button>
      </md-expansion-panel-collapsed>
      <md-expansion-panel-expanded>
          <md-expansion-panel-header>
              <div class="md-title">¿Agregar otro celular/teléfono?</div>
              <div class="md-summary" ></div>
          </md-expansion-panel-header>
          <md-expansion-panel-content>
          <div layout="row" layout-align="center center">
                   <md-input-container flex-gt-xs flex="20" class="md-icon-float md-block animated zoomIn" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                   <b layout="row" layout-align="center center" class="md-padding">
                    {{numm}}
                   </b>    
                    </md-input-container>
              </div>  
              <div layout="row" layout-align="center center">
                <md-button  md-no-ink class="md-primary" ng-click="; showPrompt2($event);"  >
                      ¿DESEA AGREGAR OTRO NUMERO TELEFONICO?
                    </md-button>   
              </div>         
                 <div layout="row" layout-align="center center">
                    <md-button  md-no-ink class="md-raised md-primary" ng-click="$panel.collapse();"  >
                      Guardar
                    </md-button>
                    <md-button class="md-raised" ng-click="$panel.collapse();" >Cancelar</md-button>
                </div>
                
          </md-expansion-panel-content>
      </md-expansion-panel-expanded>
  </md-expansion-panel> 
      <md-expansion-panel md-component-id="expansionPanelSix" >
      <md-expansion-panel-collapsed>
          <div class="md-title" >Dirección</div>
          <div class="md-summary" >{{datosSucursal.localizacion_sucursal.direccion }}</div>
          <md-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="$panel.Expanded();">
            <md-icon class="md-accent">keyboard_arrow_down</md-icon>
        </md-button>
      </md-expansion-panel-collapsed>
      <md-expansion-panel-expanded>
          <md-expansion-panel-header>
              <div class="md-title">Dirección</div>
              <div class="md-summary"></div>
          </md-expansion-panel-header>
          <md-expansion-panel-content>
              <div layout="row">
                    <md-input-container class="md-icon-float md-block" flex>
                        <md-icon class="md-primary">location_on</md-icon>
                        <label>Direccion</label>
                        <input type="text" ng-model="datosSucursal.localizacion_sucursal.direccion " uppercase readonly required>
                    </md-input-container>
                    <div flex="5"></div>
                  <md-input-container class="md-icon-float md-block" flex>                        
                    </md-input-container>
                </div>                
          </md-expansion-panel-content>
      </md-expansion-panel-expanded>
  </md-expansion-panel> 
</md-expansion-panel-group>
