<div layout="row">
    <a class="mdl-chip mdl-chip--contact">
        <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">I</span>
        <span class="mdl-chip__text">Inventario</span>
    </a>
</div>
<br><md-divider></md-divider><br>
<div layout-xs="column" layout="row">
    <md-card flex-xs flex-gt-xs="50" layout="column">
        <img class="md-card-image" src="images/app/inventario/bienes.png" alt="image caption">
        <md-list>
            <md-subheader class="md-no-sticky txt-center">GENERAL</md-subheader>
            <md-list-item ng-href="#/App/Parametrizacion/Impuestos">
                <md-icon>create</md-icon>
                <p>IMPUESTOS</p>
            </md-list-item>
        </md-list>
    </md-card>
</div>


