<div layout="column" flex>
  <md-toolbar>
      <div style="margin: 0px auto; text-align: center;" class="md-toolbar-tools md-toolbar-registro" >
          <md-button ng-href="#/Registro/">
              <md-icon>reply_all</md-icon>  
          </md-button> 
          <div class="banner1" >
              <h1>Netbook, Red de Negocios</h1>
          </div>                      
          <div class="banner2">
              <h1>Netbook</h1>
          </div>    
      </div>
  </md-toolbar>
  <br><br><br><br>
  <div layout="row" layout-align="center center">
      <div flex-gt-sm="100" flex-gt-md="30">        
          <form name="form_ingreso_colaborador" ng-submit="ingresar_colaborador()" flex>
              <md-card>

                  <div style=" width: 100%; height: 200px; background-color: whitesmoke;">
                      <div style="margin-left: 5%; margin-right: 5%; padding-top: 5%; color: black; border-bottom: 2px solid #3f51b5;"><img style="display: inline-block;" src="fluicon.png">
                          <h6 style="display: inline-block;">NETBOOK</h6> </div>
                      <div style="margin-left: 5%;padding-top: 5%; color: #ff3399; font-size: 90%">Sign in</div>
                      <div style="  padding: 20px; color: black;">{{datosE.razon_social}}</div>
                  </div>
                  <md-card-content>
                      <md-input-container class="md-icon-float md-block animated zoomIn" flex-gt-xs ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                          <label>Usuario</label>
                          <md-icon style="color: #3f51b5;">person_pin</md-icon>
                          <input type="text" ng-model="data_ingreso_colaborador.nick" md-no-asterisk autocomplete="off" required>
                          <div ng-messages="projectForm.description.$error">
                              <div ng-message="required">This is required.</div>
                          </div>
                      </md-input-container>
                      <md-input-container class="md-icon-float md-block animated zoomIn" flex-gt-xs ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                          <label>Contraseña</label>
                          <md-icon style="color: #3f51b5;">vpn_key</md-icon>
                          <input type="password" ng-model="data_ingreso_colaborador.clave" md-no-asterisk required>
                          <div ng-messages="projectForm.description.$error">
                              <div ng-message="required">This is required.</div>
                          </div>
                      </md-input-container>
                  </md-card-content>
                  <md-card-actions layout="row" layout-align="end center">
                      <md-button href="#/" class="md-raised " type="button">CANCELAR</md-button>
                       <div style="width: 5px;"></div>
                      <md-button class="md-raised md-primary" type="submit" ng-disabled="form_ingreso_colaborador.$invalid">INGRESAR</md-button>
                  </md-card-actions>
              </md-card>
          </form>
      </div>
  </div>

  <style>
  .demo-card-wide.mdl-card {
    width: 158px;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 138px;
    width: 200px;
    background: url('https://getmdl.io/assets/demos/welcome_card.jpg') center / cover;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }
  .banner2 {
          display: none;
         }
       @media screen and (max-width: 430px) {
         .banner2 {
          display: block;
         }
         .banner1 {
          display: none;
         }
      }
  </style>
</div>