<md-toolbar>
    <div style="margin: 0px auto; text-align: center;" class="md-toolbar-tools md-toolbar-registro" >
        <md-button ng-href="#/Registro/">
            <md-icon>reply_all</md-icon>  
        </md-button> 
        <div class="banner1" >
            <h1>Netbook, Red de Negocios</h1>
        </div>                      
        <div class="banner2">
            <h1>Nethbook</h1>
        </div>    
    </div>
</md-toolbar>
<br><br><br><br>
<div layout="row" layout-align="center center">
    <div flex-gt-sm="100" flex-gt-md="30">        
        <form name="form_ingreso_colaborador" ng-submit="ingresar_colaborador()" flex>
            <md-card>
            <md-toolbar>
                    <div style=" text-align: center; color: #FCFEFE; ">
                    <img style="display: inline-block; max-width: 25px; margin-bottom: 10px; max-height: 25px;" src="images/logo/logo.fw.png">
                        <h6 style="display: inline-block; font-size: 20px;">Nethbook</h6> </div> 
            <md-list-item class="md-2-line">
            <img src="images/login/user.png" style="height: 50px;
                                    width: 50px;" class="md-avatar" alt="{{datosE.razon_social}}" />
            <div class="md-list-item-text"  layout="column">
                <h4 class="text-white">Nombre comercial:</h4>
                <h3 class="text-white">{{ datosE.razon_social}}</h3>
            </div>
          </md-list-item>
            <br>
                                           
                </md-toolbar>
                <md-card-content>
                    <md-input-container class="md-icon-float md-block animated zoomIn" flex-gt-xs ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                        <label>Usuario</label>
                        <md-icon style="color: #3f51b5;">person_pin</md-icon>
                        <input type="text" ng-model="data_ingreso_colaborador.nick" md-no-asterisk autocomplete="off" required>
                        <div ng-messages="projectForm.description.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block animated zoomIn" flex-gt-xs ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                        <label>Contraseña</label>
                        <md-icon style="color: #3f51b5;">vpn_key</md-icon>
                        <input type="password" ng-model="data_ingreso_colaborador.clave" md-no-asterisk required>
                        <div ng-messages="projectForm.description.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button href="#/" class="md-no-ink ">CANCELAR</md-button>
                     <div style="width: 5px;"></div>
                    <md-button class="md-raised md-primary" type="submit" ng-disabled="form_ingreso_colaborador.$invalid">INGRESAR</md-button>
                </md-card-actions>
            </md-card>
        </form>
    </div>
</div>
