<md-dialog aria-label="FormBodegas">
    <form name="form_inv_bodega" ng-submit="data_inv_bodega_guardar()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Nueva, Bodega</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width: 600px!important">
            <div class="md-dialog-content">
                <md-content class="md-no-momentum">
                    <md-input-container class="md-icon-float md-icon-left md-block" flex>
                        <md-icon class="md-primary">add_alert</md-icon>
                    <lx-select ng-model="selectModelSucursal.selectedSucursal"
                               lx-allow-clear="true"
                               lx-choices="selectSucursales"
                               lx-display-filter="true"
                               lx-fixed-label="true"
                               lx-label="Seleccione Sucursal">
                        <lx-select-selected>
                            {{ $selected.codigo_sri +' - '+ $selected.localizacion_sucursal.direccion}}
                        </lx-select-selected>
                        <lx-select-choices>
                            {{ $choice.codigo_sri +' - '+ $choice.localizacion_sucursal.direccion}}
                        </lx-select-choices>
                    </lx-select>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <md-icon class="md-primary">view_compact</md-icon>
                        <label>Nombre de la Bodega</label>
                        <input name="nom_bodega" ng-model="data_inv_bodega.nombre" type="text" bodega-validator required>
                        <div ng-messages="form_inv_bodega.nom_bodega.$error" ng-show="form_inv_bodega.nom_bodega.$dirty">
                            <div ng-message="required">Campo Requerido</div>
                            <div ng-message="campo">Registro Repetido</div>
                        </div>
                    </md-input-container>
                    <div layout="row">
                    <md-input-container class="md-icon-float md-block" flex>
                        <md-icon class="md-primary">description</md-icon>
                        <label>Calle</label>
                        <textarea name="calle" ng-model="data_inv_bodega.calle" type="text" required></textarea>
                        <div ng-messages="form_inv_bodega.calle.$error" ng-show="form_inv_bodega.calle.$dirty">
                            <div ng-message="required">Campo Requerido</div>
                        </div>
                    </md-input-container>
                     <md-input-container class="md-icon-float md-block" flex>
                        <md-icon class="md-primary">description</md-icon>
                        <label>Número</label>
                        <textarea name="numero" ng-model="data_inv_bodega.numero" type="text" required></textarea>
                        <div ng-messages="form_inv_bodega.numero.$error" ng-show="form_inv_bodega.numero.$dirty">
                            <div ng-message="required">Campo Requerido</div>
                        </div>
                    </md-input-container>
                    </div>
                     <md-input-container md-no-float class="md-block">
                        <md-icon class="md-primary">description</md-icon>
                        <label>Especificaciones</label>
                        <textarea name="especificaciones" ng-model="data_inv_bodega.especificaciones" type="text" required></textarea>
                        <div ng-messages="form_inv_bodega.especificaciones.$error" ng-show="form_inv_bodega.especificaciones.$dirty">
                            <div ng-message="required">Campo Requerido</div>
                        </div>
                    </md-input-container>
                    <div layout="row" class="md-block" layout-align="center">

                    </div>
                </md-content>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">Cancelar</md-button>
            <md-button type="reset">Limpiar</md-button>
            <md-button class="md-raised md-primary" type="submit" ng-show="!procesando" ng-disabled="form_col_tipo_usuario.$invalid" ng-disabled="form_inv_bodega.$invalid" disable-on-promise=" data_inv_bodega_guardar()">Guardar</md-button>
            <md-progress-circular ng-show="procesando" class="md-hue-2" md-diameter="20px"></md-progress-circular>
        </md-dialog-actions>
    </form>
</md-dialog>