<div layout="row">

  <md-card flex-gt-md="50" ng-controller="configuracionPersonalCtrl">
    <img ng-src="{{imgPortada}}" class="md-card-image" alt="imgPortada">
    <div style="position: absolute;">
      <md-button class="md-icon-button md-accent" ng-click="show_upload_img_modal($event,'PortadaUsuario')" aria-label="More">
          <md-icon>add_a_photo</md-icon>
      </md-button>
      <md-button class="md-icon-button md-accent" ng-click="show_lista_img_modal($event,'PortadaUsuario')" aria-label="More">
          <md-icon>mode_edit</md-icon>
      </md-button>
      <span class="md-headline">Portada Personal</span>
    </div>
    <md-card-title>
      <md-card-title-media>
        <md-card-title-text>
          <span class="md-headline">Configuración Personal</span>
          <span class="md-subhead">Perfil Personal</span>
        </md-card-title-text>
        <md-card flex>
          <img ng-src="{{imgPerfil}}" class="md-card-image" alt="imgPerfil">
          <div style="position: absolute;">
            <md-button class="md-icon-button md-accent" ng-click="show_upload_img_modal($event,'PerfilUsuario')" aria-label="btnPerfilUsuario">
              <md-icon>add_a_photo</md-icon>
            </md-button>
            <md-button class="md-icon-button md-accent" ng-click="show_lista_img_modal($event,'PerfilUsuario')" aria-label="btnPerfilUsuario">
              <md-icon>mode_edit</md-icon>
            </md-button>
            <span class="md-headline">Foto Personal</span>
          </div>
        </md-card>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-raised md-accent" ng-href="#/nb/App/Config/PerfilPersonal">Entrar</md-button>
    </md-card-actions>
  </md-card>
  
  <md-card flex-gt-md="50" flex ng-controller="configuracionSucursalCtrl">
    <img ng-src="{{imgPortada}}" class="md-card-image" alt="imgPortada">
    <div style="position: absolute;">
      <md-button class="md-icon-button md-accent" ng-click="show_upload_img_modal($event,'Portada')" aria-label="More">
          <md-icon>add_a_photo</md-icon>
      </md-button>
      <md-button class="md-icon-button md-accent" ng-click="show_lista_img_modal($event,'Portada')" aria-label="More">
          <md-icon>mode_edit</md-icon>
      </md-button>
      <span class="md-headline">Portada Sucursal</span>
    </div>
    <md-card-title>
      <md-card-title-media>
        <md-card-title-text>
          <span class="md-headline">Configuración Sucursal</span>
          <span class="md-subhead">Perfil Sucursal</span>
        </md-card-title-text>
        <md-card flex>
          <img ng-src="{{imgPerfil}}" class="md-card-image" alt="imgPerfil">
          <div style="position: absolute;">
            <md-button class="md-icon-button md-accent" ng-click="show_upload_img_modal($event,'Perfil')" aria-label="btnPerfilUsuario">
              <md-icon>add_a_photo</md-icon>
            </md-button>
            <md-button class="md-icon-button md-accent" ng-click="show_lista_img_modal($event,'Perfil')" aria-label="btnPerfilUsuario">
              <md-icon>mode_edit</md-icon>
            </md-button>
            <span class="md-headline">Logotipo Sucursal</span>
          </div>
        </md-card>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-raised md-accent" ng-href="#/nb/App/Config/PerfilPersonal">Entrar</md-button>
    </md-card-actions>
  </md-card>

  <md-card flex-gt-md="50" ng-controller="configuracionEmpresaCtrl">
    <img ng-src="{{imgPortada}}" class="md-card-image" alt="imgPortada">
    <div style="position: absolute;">
      <md-button class="md-icon-button md-accent" ng-click="show_upload_img_modal($event,'PortadaEmpresa')" aria-label="More">
          <md-icon>add_a_photo</md-icon>
      </md-button>
      <md-button class="md-icon-button md-accent" ng-click="show_lista_img_modal($event,'PortadaEmpresa')" aria-label="More">
          <md-icon>mode_edit</md-icon>
      </md-button>
      <span class="md-headline">Portada Empresa</span>
    </div>
    <md-card-title>
      <md-card-title-media>   
        <md-card-title-text>
          <span class="md-headline">Configuración Empresa</span>
          <span class="md-subhead">Perfil Empresa</span>
        </md-card-title-text>
        <md-card flex>
          <img ng-src="{{imgPerfil}}" class="md-card-image" alt="imgPerfil">
          <div style="position: absolute;">
            <md-button class="md-icon-button md-accent" ng-click="show_upload_img_modal($event,'PerfilEmpresa')" aria-label="btnPerfilUsuario">
              <md-icon>add_a_photo</md-icon>
            </md-button>
            <md-button class="md-icon-button md-accent" ng-click="show_lista_img_modal($event,'PerfilEmpresa')" aria-label="btnPerfilUsuario">
              <md-icon>mode_edit</md-icon>
            </md-button>
            <span class="md-headline">Logotipo Empresa</span>
          </div>
        </md-card>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-raised md-accent" ng-href="#/nb/App/Config/PerfilPersonal">Entrar</md-button>
    </md-card-actions>
  </md-card>
</div>