<md-dialog aria-label="Table Fu">
    <form ng-cloak ng-submit="guardar_factura()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Factura, NOMBRE COMERCIAL: {{infofactura.infoTributaria.nombreComercial}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content style="width: 1400px;">
            <div layout="row">
                <md-card flex>
                    <md-card-content>
                        RAZÓN SOCIAL: {{infofactura.infoTributaria.razonSocial}}<br>
                        DIRECCIÓN MATRÍZ: {{infofactura.infoTributaria.dirMatriz}}<br>
                        DIR. ESTABLECIMIENTO: {{infofactura.infoFactura.dirEstablecimiento}}
                    </md-card-content>
                </md-card>
                <md-card flex>
                    <md-card-content>
                        RUC:{{infofactura.infoTributaria.ruc}}<br>
                        NÚMERO AUTORIZACIÓN: {{factura_cabecera.numeroAutorizacion}}<br>
                        OBLIGADO A LLEVAR CONTABLIDAD: {{infofactura.infoFactura.obligadoContabilidad}}<br>
                        CONTRIBUYENTE ESPECIAL NRO: {{infofactura.infoFactura.contribuyenteEspecial}}<br>
                    </md-card-content>
                </md-card>
                <md-card flex>
                    <md-card-content>
                        AMBIENTE: {{factura_cabecera.ambiente}} || TIPO DOCUMENTO: {{infofactura.infoTributaria.codDoc}}<br>
                        FECHA DE EMISIÓN: {{factura_cabecera.fechaAutorizacion | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a' |uppercase}}<br>
                        Clave de Acceso:<br>
                        <io-barcode code="{{ code }}" type="{{ type }}" options="options"></io-barcode>
                    </md-card-content>
                </md-card>
            </div>
            <table id="table-example-1" style="width: 100%;">
                <thead>
                    <tr>
                        <th rowspan="2">DESCRIPCIÓN</th>
                        <th rowspan="2">CANTIDAD</th>
                        <th rowspan="2">PRECIO UNITARIO</th>
                        <th rowspan="2">DESCUENTOS</th>
                        <th rowspan="2">TOTAL</th>
                        <th colspan="5">TIPO DE GASTOS</th>
                    </tr>
                    <tr>
                        <th ng-repeat="i in tipo_consumo">
                            <md-checkbox aria-label="{{i}}" ng-model="i.id" ng-click="select_all_gasto(i)" ng-checked="i.selected">{{i.nombre}}</md-checkbox>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in detalle">
                        <td>{{item.descripcion | limitTo : 50}}
                            <md-tooltip md-visible="demo.showTooltip" md-direction="{{demo.tipDirection}}">
                                {{item.descripcion}}
                            </md-tooltip>
                        </td>
                        <td>{{item.cantidad}}</td>
                        <td>{{item.precioUnitario}}</td>
                        <td>{{item.descuento}}</td>
                        <td>{{item.precioTotalSinImpuesto}}</td>
                        <td ng-repeat="i in tipo_consumo">
                            <label for="{{'q'+item.codigoPrincipal+'-'+i.nombre | limitTo : 5}}">
                                <input type="radio" name="{{item.codigoPrincipal}}" id="{{'q'+item.codigoPrincipal+'-'+i.nombre}}" ng-checked="i.selected" ng-click="select_gasto(item,i)" />
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total</td>
                        <td ng-repeat="i in tipo_consumo">
                            {{i.total}}
                        </td>
                    </tr>
                </tbody>
            </table>

        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary" type="submit">
                Guardar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
<style type="text/css">
    #table-example-1 .one {
        /*margin-bottom: 3em;*/
        border-collapse: collapse;
    }
    
    #table-example-1 td {
        /* removed the border from the table data rows  */
        text-align: center;
        /*width: 10em;*/
        /*padding: 1em;*/
    }
    /* added a white font color to the heading text */
    
    #table-example-1 tr {
        height: 1em;
    }
    
    #table-example-1 tr:nth-child(even) {
        /* added all even rows a #eee color  */
        background-color: #eee;
    }
    
    #table-example-1 tr:nth-child(odd) {
        /* added all odd rows a #fff color  */
        background-color: #fff;
    }
    
    #table-example-1 {
        border: solid thin;
        border-collapse: collapse;
    }
    
    #table-example-1 caption {
        padding-bottom: 0.2em;
        position: relative;
        top: 5px;
    }
    
    #table-example-1 th,
    #table-example-1 td {
        border: solid thin;
        padding: 0.5rem 2rem;
    }
    
    #table-example-1 td {
        white-space: nowrap;
    }
    
    #table-example-1 th {
        font-weight: normal;
    }
    
    #table-example-1 td {
        border-style: none solid;
        vertical-align: top;
    }
    
    #table-example-1 th {
        padding: 0.2em;
        vertical-align: middle;
        text-align: center;
    }
    
    #table-example-1 tbody td:first-child::after {
        content: leader(". ");
    }
</style>