<md-card flex>
<h4 class="text-center">Configuración general de la cuenta Personal</h4>

<md-expansion-panel-group md-component-id="expansionPanelGroup">
	<md-expansion-panel md-component-id="expansionPanelOne">
	    <md-expansion-panel-collapsed>
	        <div class="md-title" md-colors="{color: 'indigo'}">Nombres y Apellidos</div>
	        <div class="md-summary">{{data_usuario.primer_nombre}} {{data_usuario.segundo_nombre}} {{data_usuario.primer_apellido}} {{data_usuario.segundo_apellido}}</div>
	        <div class="">Editar</div>
	    </md-expansion-panel-collapsed>
	    <md-expansion-panel-expanded>
	        <md-expansion-panel-header>
	            <div class="md-title" md-colors="{color: 'indigo'}">Nombres y Apellidos</div>
	            <div class="md-summary">{{data_usuario.primer_nombre}} {{data_usuario.segundo_nombre}} {{data_usuario.primer_apellido}} {{data_usuario.segundo_apellido}}</div>
	        </md-expansion-panel-header>
	        <md-expansion-panel-content>
	            <form name="form_usuario" ng-submit="col_usuario_nuevo()" layout-padding>
	                <div layout="row">
	                    <md-input-container class="md-icon-float md-block" flex>
	                        <md-icon class="md-primary">supervisor_account</md-icon>
	                        <label>Primer Nombre</label>
	                        <input name="primer_nombre" ng-model="data_usuario.primer_nombre" type="text" required>
	                        <div ng-messages="form_usuario.primer_nombre.$error" ng-show="form_usuario.primer_nombre.$dirty">
	                            <div ng-message="required">Campo Requerido</div>
	                        </div>
	                    </md-input-container>
	                    <md-input-container class="md-icon-float md-block" flex>
	                        <label>Segundo Nombre</label>
	                        <input name="segundo_nombre" ng-model="data_usuario.segundo_nombre" type="text">
	                        <div ng-messages="form_usuario.segundo_nombre.$error" ng-show="form_usuario.segundo_nombre.$dirty">
	                            <div ng-message="required">Campo Requerido</div>
	                        </div>
	                    </md-input-container>
	                    <md-input-container class="md-icon-float md-block" flex>
	                        <label>Primer Apellido</label>
	                        <input name="primer_apellido" ng-model="data_usuario.primer_apellido" type="text" required>
	                        <div ng-messages="form_usuario.primer_apellido.$error" ng-show="form_usuario.primer_apellido.$dirty">
	                            <div ng-message="required">Campo Requerido</div>
	                        </div>
	                    </md-input-container>
	                    <md-input-container class="md-icon-float md-block" flex>
	                        <label>Segundo Apellido</label>
	                        <input name="segundo_apellido" ng-model="data_usuario.segundo_apellido" type="text">
	                        <div ng-messages="form_usuario.segundo_apellido.$error" ng-show="form_usuario.segundo_apellido.$dirty">
	                            <div ng-message="required">Campo Requerido</div>
	                        </div>
	                    </md-input-container>
	                </div>
	                <div layout="row">
	                	<span flex></span>
	                    <md-button class="md-raised md-primary" type="submit" ng-disabled="form_usuario.$invalid">Guardar</md-button>
	                </div>
	            </form>
	        </md-expansion-panel-content>
	        <md-expansion-panel-footer>
	            <div flex></div>
	            <md-button class="md-icon-button" aria-label="More" ng-click="$panel.collapse();">
			        <md-icon>keyboard_arrow_up</md-icon>
			    </md-button>
	        </md-expansion-panel-footer>
	    </md-expansion-panel-expanded>
	</md-expansion-panel>
	<md-expansion-panel md-component-id="expansionPanelTwo">
	    <md-expansion-panel-collapsed>
	        <div class="md-title" md-colors="{color: 'indigo'}">Correo Electrónico</div>
	        <div class="md-summary">{{data_usuario.correo_electronico}}</div>
	        <div class="">Editar</div>
	    </md-expansion-panel-collapsed>
	    <md-expansion-panel-expanded>
	        <md-expansion-panel-header>
	            <div class="md-title">Correo Electrónico</div>
	            <div class="md-summary">{{data_usuario.correo_electronico}}</div>
	        </md-expansion-panel-header>
	        <md-expansion-panel-content>
	            <form name="form_usuario" ng-submit="col_usuario_nuevo()" layout-padding>
                    <md-input-container class="md-icon-float md-block" layout="row">
                        <md-icon class="md-primary">email</md-icon>
                        <label>Correo Electrónico</label>
                        <input name="correo" ng-model="data_usuario.correo_electronico" type="email" required correoelectronico-validator>
                        <div ng-messages="form_usuario.correo.$error" ng-show="form_usuario.correo.$dirty">
                            <div ng-message="required">Campo Requerido</div>
                            <div ng-message="campo">Registro Existente</div>
                            <div ng-message="email">Correo Invalido</div>
                        </div>
                    </md-input-container>
	                <div layout="row">
	                	<span flex></span>
	                    <md-button class="md-raised md-primary" type="submit" ng-disabled="form_usuario.$invalid">Guardar</md-button>
	                </div>
	            </form>
	        </md-expansion-panel-content>
	        <md-expansion-panel-footer>
	            <div flex></div>
	            <md-button class="md-icon-button" aria-label="More" ng-click="$panel.collapse();">
			        <md-icon>keyboard_arrow_up</md-icon>
			    </md-button>
	        </md-expansion-panel-footer>
	    </md-expansion-panel-expanded>
	</md-expansion-panel>
	<md-expansion-panel md-component-id="expansionPanelTree">
	    <md-expansion-panel-collapsed>
	        <div class="md-title" md-colors="{color: 'indigo'}">Password / Contraseña</div>
	        <div class="md-summary">Actualizada Hace 12 dias</div>
	        <div class="">Editar</div>
	    </md-expansion-panel-collapsed>
	    <md-expansion-panel-expanded>
	        <md-expansion-panel-header>
	            <div class="md-title">Password / Contraseña</div>
	            <div class="md-summary">Actualizada Hace 12 dias</div>
	        </md-expansion-panel-header>
	        <md-expansion-panel-content>
	            <form name="form_password" ng-submit="cambiar_datos_password()">
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Ingrese su nueva contraseña</label>
                            <md-icon class="md-accent">streetview</md-icon>
                            <input type="password" id="password" name="password" ng-minlength="6" ng-maxlength="20"  ng-model="data.password" required ng-keyup ="ValidarClave()" />
                                    <div ng-messages="form_pass.password.$error">
                                    <div class="bar" ></div>
                                        <div ng-message="required" class="my-message"><h6>Ingrese una contraseña es requerido</h6></div>
                                        <div ng-message="minlength" class="my-message"><h6>Las contraseñas deben tener entre 6 y 20 caracteres.</h6></div>
                                        <div ng-message="pattern" class="my-message"><h6>Debe contener una minuscula &amp;letra mayúscula y un carácter especial (un número o un símbolo.)</h6></div>
                            </div>
                        </md-input-container>
                    </div>            
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                                <label>Repita nueva contraseña</label>
                                <md-icon class="md-accent">layers</md-icon>
                                <input type="password" id="password_c" name="password_c" ng-model="data.password_c" valid-password-c="data.password" required />
                                <div ng-messages="form_password.password_c.$error">
                                    <div ng-message="required">Campo es requerido</div>
                                </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                    	<span flex></span>
                        <md-button class="md-raised md-primary" type="submit" ng-disabled="form_password.$invalid">Guardar</md-button>
                    </div>
                </form>
	        </md-expansion-panel-content>
	        <md-expansion-panel-footer>
	            <div flex></div>
	            <md-button class="md-icon-button" aria-label="More" ng-click="$panel.collapse();">
			        <md-icon>keyboard_arrow_up</md-icon>
			    </md-button>
	        </md-expansion-panel-footer>
	    </md-expansion-panel-expanded>
	</md-expansion-panel>
	<md-expansion-panel md-component-id="expansionPanelFor">
	    <md-expansion-panel-collapsed>
	        <div class="md-title" md-colors="{color: 'indigo'}">Dirección Domicilio</div>
	        <div class="md-summary">{{data_usuario.calle}}, {{data_usuario.transversal}}</div>
	        <div class="">Editar</div>
	    </md-expansion-panel-collapsed>
	    <md-expansion-panel-expanded>
	        <md-expansion-panel-header>
	            <div class="md-title">Dirección Domicilio</div>
	            <div class="md-summary">Expanded Summary</div>
	        </md-expansion-panel-header>
	        <md-expansion-panel-content>
	            <form name="form_usuario" ng-submit="col_usuario_nuevo()" layout-padding>
	                <div layout="row">
	                    <md-input-container class="md-icon-float md-icon-left " flex required>
	                        <md-icon class="md-primary">location_city</md-icon>
	                        <lx-select name="ciudad" ng-model="selectModelCiudad.selectedCiudades" lx-allow-clear="true" lx-choices="selectCiudades" lx-display-filter="true" lx-fixed-label="true" lx-label="Ciudad">
	                            <lx-select-selected>
	                                {{ $selected.nombre }}
	                            </lx-select-selected>
	                            <lx-select-choices>
	                                {{ $choice.nombre }}
	                            </lx-select-choices>
	                        </lx-select>
	                        <div ng-messages="form_usuario.ciudad.$error" ng-show="selectedCiudades==undefined">
	                            <div ng-message="required">Campo Requerido</div>
	                        </div>
	                    </md-input-container>
	                    <div flex="5" hide-xs hide-sm>
	                        <!-- Spacer //-->
	                    </div>
	                    <md-input-container class="md-icon-float md-block" flex>
	                        <md-icon class="md-primary">location_on</md-icon>
	                        <label>Calle Principal</label>
	                        <input name="calle" ng-model="data_usuario.calle" type="text" required>
	                        <div ng-messages="form_usuario.calle.$error" ng-show="form_usuario.calle.$dirty">
	                            <div ng-message="required">Campo Requerido</div>
	                        </div>
	                    </md-input-container>
	                </div>
	                <div layout="row">
	                    <md-input-container class="md-icon-float md-block" flex>
	                        <md-icon class="md-primary">location_on</md-icon>
	                        <label>Calle Secundaria</label>
	                        <input name="transversal" ng-model="data_usuario.transversal" type="text">
	                    </md-input-container>
	                    <div flex="5" hide-xs hide-sm></div>
	                    <md-input-container class="md-icon-float md-block" flex>
	                        <md-icon class="md-primary">confirmation_number</md-icon>
	                        <label>Numero de Casa</label>
	                        <input name="numero" ng-model="data_usuario.numero" type="text">
	                    </md-input-container>
	                </div>
	                <div layout="row">
	                	<div flex></div>
	                    <md-button class="md-raised md-primary" type="submit" ng-disabled="form_usuario.$invalid">Guardar</md-button>
	                </div>
	            </form>
	        </md-expansion-panel-content>
	        <md-expansion-panel-footer>
	            <div flex></div>
	            <md-button class="md-icon-button" aria-label="More" ng-click="$panel.collapse();">
			        <md-icon>keyboard_arrow_up</md-icon>
			    </md-button>
	        </md-expansion-panel-footer>
	    </md-expansion-panel-expanded>
	</md-expansion-panel>
</md-expansion-panel-group>
</md-card>