<md-sidenav style="max-width:250px;" layout="column" class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="4" flex>
    <md-content layout="column">
        <md-sidemenu>
            <md-sidemenu-group>
                <md-sidemenu-button href="#/App"><md-icon>apps</md-icon> App</md-sidemenu-button>
            </md-sidemenu-group>
            <md-sidemenu-group>
                <md-subheader class="md-no-sticky">Menu Repositorio de Facturas</md-subheader>
                    <md-sidemenu-button href="#/App/Repositorio_Facturas/Inicio_Facturas"><md-icon>subtitles</md-icon>Inicio</md-sidemenu-button>
                    <md-sidemenu-button href="#/App/Repositorio_Facturas/Mis_Facturas"><md-icon>view_module</md-icon>Mis Facturas</md-sidemenu-button>
                    <md-sidemenu-button href="#/App/Repositorio_Facturas/Subir_Facturas"><md-icon>file_upload</md-icon>Subir Facturas</md-sidemenu-button>
                    <md-sidemenu-button href="#/App/Repositorio_Facturas/Facturas_Correo"><md-icon>markunread_mailbox</md-icon>Facturas Correo</md-sidemenu-button>
                    <md-sidemenu-button href="#/App/Repositorio_Facturas/Facturas_Rechazadas"><md-icon>error</md-icon>Facturas Rechasadas</md-sidemenu-button>
            </md-sidemenu-group>
        </md-sidemenu>
    </md-content>
</md-sidenav>
<md-content flex class="md-padding" layout="column" >
    <div app-view-segment="2"></div>
</md-content>