<md-content layout-padding layout-wrap>
			<div ng-cloak layout-gt-sm="row" layout="column">
			    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
			        <md-button ng-href="#/Inventario/Tipo_Categoria" class="md-primary">Tipo Categoría</md-button>
			        <md-button md-no-ink class="md-primary">Categoria</md-button>
			        <md-button md-no-ink class="md-primary">Tipo Garantiía</md-button>
			        <md-button md-no-ink class="md-primary">Garantía</md-button>
			        <md-button md-no-ink class="md-primary">Primary (md-noink)</md-button>
			    </section>
			</div>
		</md-content>