<div layout="row">
    <a class="mdl-chip mdl-chip--contact">
        <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">I</span>
        <span class="mdl-chip__text">Inventario</span>
    </a>
</div>
<br><md-divider></md-divider><br>
<div layout-xs="column" layout="row">
        <md-card flex-xs flex-gt-xs="50" layout="column">
            <img class="md-card-image" src="images/app/inventario/bienes.png" alt="image caption">
            <md-list>
                <md-subheader class="md-no-sticky txt-center">INVENTARIO DE BIENES DE {{info_sucursal.nombre}}</md-subheader>
                <md-list-item ng-href="#/App/Inventario/Bienes">
                    <md-icon>create</md-icon>
                    <p> CREAR UN NUEVO PRODUCTO</p>
                </md-list-item>
                <md-list-item ng-click="null">
                    <md-icon>search</md-icon>
                    <p> BUSCAR PRODUCTO</p>
                </md-list-item>
                <md-list-item ng-click="null">
                    <md-icon>content_paste</md-icon>
                    <p> REPORTE GENERAL</p>
                </md-list-item>
                <md-list-item ng-click="null">
                    <md-icon>picture_as_pdf</md-icon>
                    <p> REPORTE x CATEGORÍAS</p>
                </md-list-item>
            </md-list>
        </md-card>
        <md-card flex-xs flex-gt-xs="50" layout="column">
            <img class="md-card-image" src="images/app/inventario/productos.png" alt="image caption">
            <md-list>
                <md-subheader class="md-no-sticky txt-center">INVENTARIO DE BIENES DE {{info_sucursal.nombre}}</md-subheader>
                <md-list-item ng-click="null">
                    <md-icon>create</md-icon>
                    <p> CREAR UN NUEVO PRODUCTO</p>
                </md-list-item>
                <md-list-item ng-click="null">
                    <md-icon>search</md-icon>
                    <p> BUSCAR PRODUCTO</p>
                </md-list-item>
                <md-list-item ng-click="null">
                    <md-icon>content_paste</md-icon>
                    <p> REPORTE GENERAL</p>
                </md-list-item>
                <md-list-item ng-click="null">
                    <md-icon>picture_as_pdf</md-icon>
                    <p> REPORTE x CATEGORÍAS</p>
                </md-list-item>
            </md-list>
        </md-card>
        <md-card flex-xs flex-gt-xs="50" layout="column">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">INVENTARIO DE PRODUCTOS </span>
                    <span class="md-subhead">Small</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>INGRESAR</md-button>
                <md-button>Action 2</md-button>
            </md-card-actions>
        </md-card>
        <md-card flex-xs flex-gt-xs="50" layout="column">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Card with image</span>
                    <span class="md-subhead">Medium</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-md card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
            </md-card-actions>
        </md-card>
</div>


