<md-content flex layout="row" app-view-segment="2">
</md-content>
<md-sidenav style="width: 250px;" md-component-id="right" md-is-locked-open="$mdMedia('gt-sm')" ng-show="IsVisible" >
    <md-content layout="column">
        <md-list>
            <md-subheader class="md-no-sticky text-center">MENU PRINCIPAL</md-subheader>
            <md-list-item ng-href="#/App/Inventario/">
                <p> Inventario </p>
                <md-icon class="md-accent">apps</md-icon>
            </md-list-item>
            <!-- <md-list-item ng-click="null" class="md-accent">
                <p> Compras </p>
                <md-icon class="md-accent">apps</md-icon>
            </md-list-item> -->
            <md-list-item ng-click="null">
                <p> Clientes </p>
                <md-icon class="md-accent">account_box</md-icon>
            </md-list-item>
            <!-- <md-list-item ng-click="null">
                <p> Proveedores </p>
                <md-icon class="md-accent">apps</md-icon>
            </md-list-item> -->
            <md-list-item ng-click="null">
                <p> Acumulados </p>
                <md-icon class="md-accent">apps</md-icon>
            </md-list-item>
            <md-list-item ng-href="#/App/Parametrizacion">
                <p> Parametrización </p>
                <md-icon class="md-accent">settings</md-icon>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>