<md-content layout-padding layout-wrap>
	<div ng-cloak layout-gt-sm="row" layout="column">
	    <div flex-gt-sm="50" flex>
	    	<ul class="list mt++">
	            <li class="list-row">
	                <div class="list-row__primary">
	                    <lx-icon lx-id="folder" lx-size="l" lx-color="grey" lx-type="circled"></lx-icon>
	                </div>
	 
	                <div class="list-row__content">
	                    <lx-button ng-href="#/Inventario" lx-type="flat">Inventario</lx-button>
	                </div>
	            </li>
	            <li class="list-row">
	                <div class="list-row__primary">
	                    <lx-icon lx-id="folder" lx-size="l" lx-color="blue" lx-type="circled"></lx-icon>
	                </div>
	 
	                <div class="list-row__content">
	                    <lx-button ng-href="#/Dash" lx-type="flat">Inventario1</lx-button>
	                </div>
	            </li>
	            <li class="list-row list-row--has-separator">
	                <div class="list-row__primary">
	                    <lx-icon lx-id="folder" lx-size="l" lx-color="green" lx-type="circled"></lx-icon>
	                </div>
	 
	                <div class="list-row__content">
	                    <lx-button ng-href="#/Dash" lx-type="flat">Inventario2</lx-button>
	                </div>
	            </li>
	        </ul>
    		
	    </div>
	    <div flex-gt-sm="50" flex>
	    	migratorium
	    </div>
	</div>
</md-content>