<md-sidenav style="max-width:250px!important;" layout="column" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"  flex>
    <md-content layout="column">
        <md-list-item href="#/App">
            <md-icon>pages</md-icon>
            <p>APP</p>
            <md-icon>pages</md-icon>
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Menu de Aplicación</md-subheader>
        <md-list-item ng-href="#/App{{item.path}}" ng-repeat="item in menu.children">
            <p> {{item.nombre}} </p>
            <md-icon>{{item.personalizacion.icon}}</md-icon>
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Configuración</md-subheader>
        <md-list-item ng-click="navigateTo(setting.extraScreen, $event)" ng-repeat="setting in settings">
            <md-icon>pages</md-icon>
            <p> {{ setting.name }} </p>
            <md-switch class="md-secondary" ng-model="setting.enabled"></md-switch>
        </md-list-item>
    </md-content>
</md-sidenav>
<md-content flex>
    <div layout="row">
        <div flex="40" layout="row">
            <div layout-padding layout-wrap flex>
                <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title facturacion">
                        <h2 class="mdl-card__title-text">Facturación</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagi t t is pellentesque lacus eleifend lacinia...
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Empezar
                        </a>
                    </div>
                    <div class="mdl-card__menu">
                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                            <i class="material-icons">share</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div flex="60">
            <div layout="row">
                <div layout-padding layout-wrap flex>
                    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title rep_facturas">
                            <h2 class="mdl-card__title-text">Repositorio Fac. Electronicas</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend lacinia...
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/#/App/Repositorio_Facturas">
                                Empezar
                            </a>
                        </div>
                        <div class="mdl-card__menu">
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                <i class="material-icons">share</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div layout-padding layout-wrap flex>
                    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title inventario">
                            <h2 class="mdl-card__title-text">Inventario General</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend lacinia...
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/#/App/Inventario">
                                Empezar
                            </a>
                        </div>
                        <div class="mdl-card__menu">
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                <i class="material-icons">share</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div layout="row">
                <div layout-padding layout-wrap flex>
                    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title colaboradores">
                            <h2 class="mdl-card__title-text">Colaboradores</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend lacinia...
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/#/App/Colaboradores">
                                Empezar
                            </a>
                        </div>
                        <div class="mdl-card__menu">
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                <i class="material-icons">share</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .demo-card-wide.mdl-card {
      width: 100%;
    }
    .demo-card-wide > .mdl-card__title {
      color: #fff;
      height: 176px;
    }
    .demo-card-wide >  .facturacion {
      background: url('images/app/facturacion.fw.png')center / cover ;
    }
    .demo-card-wide >  .rep_facturas {
      background: url('images/app/repositorio_facturas.fw.png')center / cover ;
    }
    .demo-card-wide >  .inventario {
      background: url('images/app/inventario.fw.png')center / cover ;
    }
    .demo-card-wide >  .colaboradores {
      background: url('images/app/colaboradores.fw.png')center / cover ;
    }
    .demo-card-wide > .mdl-card__menu {
      color: #fff;
    }
</style>