<md-content flex layout-align="center center">
    <div layout="column">
        <div layout="row" layout-align="center center">
            <div flex="80">
            <!-- style="overflow-x:scroll;"  -->
                <div flex ng-repeat="m_padre in menu" ng-show="m_padre.children.length>0" 
                style="border-radius: 5px 5px 5px 5px;
                        -moz-border-radius: 5px 5px 5px 5px;
                        -webkit-border-radius: 5px 5px 5px 5px;
                        border: 2px dashed rgba(63, 81, 181, 0.46);
                            margin: 10px;">
                    <div layout="column">
                        <!-- <md-card flex="5" style="background: rgb(63, 81, 181);">
                            <div class="md-accent" style="  transform: rotate(-90deg);
                                                            color: white;
                                                            width: 100%;
                                                            margin-left: 0px;
                                                            font-size: 22px;
                                                            text-transform: uppercase;
                                                            text-align: center;
                                                            margin-top: 237%;" >{{m_padre.nombre}}</div>
                        </md-card> -->
                        <div layout="row">
                            <md-button class="md-raised md-primary" style="width: 100%;"><md-icon>{{m_padre.personalizacion.icon}}</md-icon> {{m_padre.nombre}}</md-button>
                        </div>
                        <!-- <md-toolbar layout="row" layout-align="center center">
                                <div class="md-toolbar-tools md-toolbar-registro">
                                    <span flex></span>
                                    <h3><md-icon>{{m_padre.personalizacion.icon}}</md-icon> {{m_padre.nombre}}</h3>
                                    <span flex></span>
                                </div>
                        </md-toolbar> -->
                        <div layout="row">
                        <md-card ng-repeat="m_hijo in m_padre.children" ng-show="m_hijo.children.length>0" >
                            <md-list ng-cloak>
                                <md-subheader class="md-no-sticky">{{m_hijo.nombre}}</md-subheader>
                                <md-list-item ng-href="{{'#'+m_nieto.path}}" ng-repeat="m_nieto in m_hijo.children" ng-click="set_menu(m_nieto)">
                                    <md-icon>{{m_nieto.personalizacion.icon}}</md-icon>
                                    <p>{{m_nieto.nombre}}</p>
                                </md-list-item>
                            </md-list>
                        </md-card>
                        <md-card ng-repeat="m_hijo in m_padre.children | limitTo:m_padre.limit" ng-show="m_hijo.children.length==0">
                            <md-list ng-cloak>
                                <md-subheader class="md-no-sticky">{{m_padre.nombre}}</md-subheader>
                                <md-list-item ng-href="{{'#'+m_hijo.path}}" ng-repeat="m_hijo in m_padre.children" ng-show="m_hijo.children.length==0" >
                                    <md-icon>{{m_hijo.personalizacion.icon}}</md-icon>
                                    <p>{{m_hijo.nombre}}</p>
                                </md-list-item>
                            </md-list>
                        </md-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div layout="row" flex-xs="80" flex-gt-xs="80">
        <div flex="50">
            <div layout="row">
                <md-card flex>
                    <img class="md-card-image" src="images/app/inv_servicios/banner.png" alt="image caption">
                    <md-list ng-cloak>
                        <md-subheader class="md-no-sticky">INVENTARIO SERVICIOS</md-subheader>
                        <md-list-item ng-href="#/App/Inv_Servicios/">
                            <md-icon>keyboard_tab</md-icon>
                            <p>Entrar</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Inv_Servicios/Servicios">
                            <md-icon>dvr</md-icon>
                            <p>Nuevo Servicio</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Inv_Servicios/Categorias">
                            <md-icon>loyalty</md-icon>
                            <p>Categorias</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Inv_Servicios/Modelos">
                            <md-icon>subject</md-icon>
                            <p>Modelos</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Inv_Servicios/Bodegas">
                            <md-icon>dashboard</md-icon>
                            <p>Bodegas</p>
                        </md-list-item>
                    </md-list>
                </md-card>
                <md-card flex>
                    <img class="md-card-image" src="images/app/inv_productos/banner.png" alt="image caption">
                    <md-list ng-cloak>
                        <md-subheader class="md-no-sticky">INVENTARIO PRODUCTOS</md-subheader>
                        <md-list-item ng-href="#/App/Inv_Productos/">
                            <md-icon>keyboard_tab</md-icon>
                            <p>Entrar</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Inv_Productos/Productos">
                            <md-icon>dvr</md-icon>
                            <p>Nuevo Producto</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Inv_Productos/Categorias">
                            <md-icon>loyalty</md-icon>
                            <p>Categorias</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Inv_Productos/Modelos">
                            <md-icon>subject</md-icon>
                            <p>Modelos</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Inv_Productos/Bodegas">
                            <md-icon>dashboard</md-icon>
                            <p>Bodegas</p>
                        </md-list-item>
                    </md-list>
                </md-card>
            </div>
            <div layout="row">
                <md-card flex>
                    <img class="md-card-image" src="images/app/inv_bienes/banner.png" alt="image caption">
                    <md-list ng-cloak>
                        <md-subheader class="md-no-sticky">INVENTARIO BIENES INMUEBLES</md-subheader>
                        <md-list-item ng-href="#/App/Inv_Bienes/">
                            <md-icon>keyboard_tab</md-icon>
                            <p>Entrar</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Inv_Bienes/Bienes">
                            <md-icon>dvr</md-icon>
                            <p>Nuevo Inmueble</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Inv_Bienes/Categorias/Bienes">
                            <md-icon>loyalty</md-icon>
                            <p>Categorias</p>
                        </md-list-item>
                    </md-list>
                </md-card>
                <md-card flex>
                </md-card>
            </div>
        </div>
        <div flex="50">
            <div layout="row">
                <md-card flex>
                    <img class="md-card-image" src="images/app/facturacion/facturacion.fw.png" alt="image caption">
                    <md-list ng-cloak>
                        <md-subheader class="md-no-sticky">FACTURACIÓN</md-subheader>
                        <md-list-item ng-href="#/App/Facturacion/Nueva_Factura_Venta">
                            <md-icon>dashboard</md-icon>
                            <p>Cajas</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Facturacion/Mis_Facturas_Venta">
                            <md-icon>assignment_ind</md-icon>
                            <p>Clientes</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Facturacion/Nueva_Factura_Venta">
                            <md-icon>receipt</md-icon>
                            <p>Nueva Factura</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Facturacion/Mis_Facturas_Venta">
                            <md-icon>list</md-icon>
                            <p>Mis Factura</p>
                        </md-list-item>
                    </md-list>
                </md-card>
                <md-card flex>
                    <img class="md-card-image" src="images/app/repositorio/repositorio_facturas.fw.png" alt="image caption">
                    <md-list ng-cloak>
                        <md-subheader class="md-no-sticky">REPOSITORIO FAC. ELECTRONICAS</md-subheader>
                        <md-list-item ng-href="#/App/Repositorio_Facturas/Inicio_Facturas">
                            <md-icon>home</md-icon>
                            <p>Inicio</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Repositorio_Facturas/Facturas_Correo">
                            <md-icon>move_to_inbox</md-icon>
                            <p>Correos</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Repositorio_Facturas/Subir_Facturas">
                            <md-icon>cloud</md-icon>
                            <p>Subir Facturas</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Repositorio_Facturas/Mis_Facturas">
                            <md-icon>email</md-icon>
                            <p>Mis Facturas</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Repositorio_Facturas/Facturas_Rechazadas">
                            <md-icon>security</md-icon>
                            <p>Facturas Rechazadas</p>
                        </md-list-item>
                    </md-list>
                </md-card>
            </div>
            <div layout="row">
                <md-card flex>
                    <img class="md-card-image" src="images/app/colaboradores/colaboradores.fw.png" alt="image caption">
                    <md-list ng-cloak>
                        <md-subheader class="md-no-sticky">COLABORADORES</md-subheader>
                        <md-list-item ng-href="#/App/Colaboradores">
                            <md-icon>account_circle</md-icon>
                            <p>Inicio</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Colaboradores/Usuario">
                            <md-icon>accessibility</md-icon>
                            <p>Nuevo Usuario</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Colaboradores/Tipo_Usuario">
                            <md-icon>supervisor_account</md-icon>
                            <p>Tipos de Usuario</p>
                        </md-list-item>
                    </md-list>
                </md-card>
                <md-card flex>
                </md-card>
            </div>
        </div>
    </div> -->
</md-content>

<md-sidenav style="width: 250px;" md-component-id="right" md-is-locked-open="$mdMedia('gt-sm')" ng-show="IsVisible" >
    <md-content layout="column">
        <md-list>
            <md-subheader class="md-no-sticky text-center">MENU PRINCIPAL</md-subheader>
            <md-list-item ng-href="#/nb/App/Finanzas/Ventas/Facturacion/Nueva_Factura_Venta">
                <p> Nueva Factura</p>
                <md-icon class="md-teal">receipt</md-icon>
            </md-list-item>
            <md-list-item ng-href="#/nb/App/Finanzas/Inventario/Inv_Productos">
                <p> Inv. Productos </p>
                <md-icon class="md-accent">apps</md-icon>
            </md-list-item>
          <!--   <md-list-item ng-href="#/nb/App/Finanzas/Inventario/Inv_Servicios">
                <p> Inv. Servicios </p>
                <md-icon class="md-accent">apps</md-icon>
            </md-list-item>
            <md-list-item ng-href="#/nb/App/Finanzas/Inventario/Inv_Bienes">
                <p> Inv. Bienes </p>
                <md-icon class="md-accent">apps</md-icon>
            </md-list-item> -->
            <md-list-item ng-href="#/nb/App/Finanzas/Ventas/Facturacion/Clientes">
                <p> Clientes </p>
                <md-icon class="md-accent">account_box</md-icon>
            </md-list-item>
            <!-- <md-list-item ng-href="#/App/Parametrizacion">
                <p> Parametrización </p>
                <md-icon class="md-accent">settings</md-icon>
            </md-list-item> -->
        </md-list>
    </md-content>
</md-sidenav>