<md-content layout="row" layout-align="center center">
    <div layout="row" flex-xs="80" flex-gt-xs="80">
        <div flex="50">
            <div layout="row">
                <md-card flex>
                    <img class="md-card-image" src="images/app/inv_servicios/banner.png" alt="image caption">
                    <md-list ng-cloak>
                        <md-subheader class="md-no-sticky">INVENTARIO SERVICIOS</md-subheader>
                        <md-list-item ng-href="#/App/Inv_Servicios/">
                            <md-icon>keyboard_tab</md-icon>
                            <p>Entrar</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Inv_Servicios/Servicios">
                            <md-icon>dvr</md-icon>
                            <p>Nuevo Servicio</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Inv_Servicios/Categorias">
                            <md-icon>loyalty</md-icon>
                            <p>Categorias</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Inv_Servicios/Modelos">
                            <md-icon>subject</md-icon>
                            <p>Modelos</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Inv_Servicios/Bodegas">
                            <md-icon>dashboard</md-icon>
                            <p>Bodegas</p>
                        </md-list-item>
                    </md-list>
                </md-card>
                <md-card flex>
                    <img class="md-card-image" src="images/app/inv_productos/banner.png" alt="image caption">
                    <md-list ng-cloak>
                        <md-subheader class="md-no-sticky">INVENTARIO PRODUCTOS</md-subheader>
                        <md-list-item ng-href="#/App/Inv_Productos/">
                            <md-icon>keyboard_tab</md-icon>
                            <p>Entrar</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Inv_Productos/Productos">
                            <md-icon>dvr</md-icon>
                            <p>Nuevo Producto</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Inv_Productos/Categorias">
                            <md-icon>loyalty</md-icon>
                            <p>Categorias</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Inv_Productos/Modelos">
                            <md-icon>subject</md-icon>
                            <p>Modelos</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Inv_Productos/Bodegas">
                            <md-icon>dashboard</md-icon>
                            <p>Bodegas</p>
                        </md-list-item>
                    </md-list>
                </md-card>
            </div>
            <div layout="row">
                <md-card flex>
                    <img class="md-card-image" src="images/app/inv_bienes/banner.png" alt="image caption">
                    <md-list ng-cloak>
                        <md-subheader class="md-no-sticky">INVENTARIO BIENES INMUEBLES</md-subheader>
                        <md-list-item ng-href="#/App/Inv_Bienes/">
                            <md-icon>keyboard_tab</md-icon>
                            <p>Entrar</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Inv_Bienes/Bienes">
                            <md-icon>dvr</md-icon>
                            <p>Nuevo Inmueble</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Inv_Bienes/Categorias/Bienes">
                            <md-icon>loyalty</md-icon>
                            <p>Categorias</p>
                        </md-list-item>
                    </md-list>
                </md-card>
                <md-card flex>
                </md-card>
            </div>
        </div>
        <div flex="50">
            <div layout="row">
                <md-card flex>
                    <img class="md-card-image" src="images/app/facturacion/facturacion.fw.png" alt="image caption">
                    <md-list ng-cloak>
                        <md-subheader class="md-no-sticky">FACTURACIÓN</md-subheader>
                        <md-list-item ng-href="#/App/Facturacion/Nueva_Factura_Venta">
                            <md-icon>dashboard</md-icon>
                            <p>Cajas</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Facturacion/Mis_Facturas_Venta">
                            <md-icon>assignment_ind</md-icon>
                            <p>Clientes</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Facturacion/Nueva_Factura_Venta">
                            <md-icon>receipt</md-icon>
                            <p>Nueva Factura</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Facturacion/Mis_Facturas_Venta">
                            <md-icon>list</md-icon>
                            <p>Mis Factura</p>
                        </md-list-item>
                    </md-list>
                </md-card>
                <md-card flex>
                    <img class="md-card-image" src="images/app/repositorio/repositorio_facturas.fw.png" alt="image caption">
                    <md-list ng-cloak>
                        <md-subheader class="md-no-sticky">REPOSITORIO FAC. ELECTRONICAS</md-subheader>
                        <md-list-item ng-href="#/App/Repositorio_Facturas/Inicio_Facturas">
                            <md-icon>home</md-icon>
                            <p>Inicio</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Repositorio_Facturas/Facturas_Correo">
                            <md-icon>move_to_inbox</md-icon>
                            <p>Correos</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Repositorio_Facturas/Subir_Facturas">
                            <md-icon>cloud</md-icon>
                            <p>Subir Facturas</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Repositorio_Facturas/Mis_Facturas">
                            <md-icon>email</md-icon>
                            <p>Mis Facturas</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Repositorio_Facturas/Facturas_Rechazadas">
                            <md-icon>security</md-icon>
                            <p>Facturas Rechazadas</p>
                        </md-list-item>
                    </md-list>
                </md-card>
            </div>
            <div layout="row">
                <md-card flex>
                    <img class="md-card-image" src="images/app/colaboradores/colaboradores.fw.png" alt="image caption">
                    <md-list ng-cloak>
                        <md-subheader class="md-no-sticky">COLABORADORES</md-subheader>
                        <md-list-item ng-href="#/App/Colaboradores">
                            <md-icon>account_circle</md-icon>
                            <p>Inicio</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Colaboradores/Usuario">
                            <md-icon>accessibility</md-icon>
                            <p>Nuevo Usuario</p>
                        </md-list-item>
                        <md-list-item ng-href="#/App/Colaboradores/Tipo_Usuario">
                            <md-icon>supervisor_account</md-icon>
                            <p>Tipos de Usuario</p>
                        </md-list-item>
                    </md-list>
                </md-card>
                <md-card flex>
                </md-card>
            </div>
        </div>
    </div>
</md-content>