<h4 class="text-center">Configuración General</h4>

<md-expansion-panel-group md-component-id="expansionPanelGroup">
	<md-expansion-panel md-component-id="expansionPanelOne">
	    <md-expansion-panel-collapsed>
	        <div class="md-title" md-colors="{color: 'accent'}">Empresa</div>
	        <div class="md-summary" md-colors="{color: 'indigo'}">{{info_empresa.razon_social}}</div>
	        <md-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="$panel.Expanded();">
		        <md-icon class="md-accent">keyboard_arrow_down</md-icon>
		    </md-button>
	    </md-expansion-panel-collapsed>
	    <md-expansion-panel-expanded>
	        <md-expansion-panel-header>
	            <div class="md-title" md-colors="{color: 'indigo'}">Empresa</div>
	            <div class="md-summary" md-colors="{color: 'indigo'}">{{info_empresa.razon_social}}</div>
	        </md-expansion-panel-header>
	        <md-expansion-panel-content>
                <div layout="row">
                    <md-input-container class="md-icon-float md-block" flex>
                        <md-icon class="md-primary">business</md-icon>
                        <label>Actividad Económica</label>
                        <input name="primer_nombre" ng-model="info_empresa.actividad_economica" type="text" readonly>
                    </md-input-container>
                    <div flex="5"></div>
                    <md-input-container class="md-icon-float md-block" flex="20">
                    <md-icon class="md-primary">notifications_active</md-icon>
                        <label>Estado Contribuyente</label>
                        <input ng-model="info_empresa.estado_contribuyente" type="text" readonly>
                    </md-input-container>
                </div>
                <div layout="row">
                	<md-input-container class="md-icon-float md-block" flex>
                		<md-icon class="md-primary">fingerprint</md-icon>
                        <label>Nombre Comercial</label>
                        <input ng-model="info_empresa.nombre_comercial" type="text" readonly>
                    </md-input-container>
                </div>
                <div layout="row">
                	<md-input-container class="md-icon-float md-block" flex>
                		<md-icon class="md-primary">dns</md-icon>
                        <label>Razón Social</label>
                        <input ng-model="info_empresa.razon_social" type="text" readonly>
                    </md-input-container>
                    <div flex="5"></div>
                    <md-input-container class="md-icon-float md-block" flex>
                    	<md-icon class="md-primary">extension</md-icon>
                        <label>Ruc</label>
                        <input ng-model="info_empresa.ruc_ci" type="text" readonly>
                    </md-input-container>
                </div>
                <div layout="row">
                	<md-input-container class="md-icon-float md-block" flex>
                        <label>Obligado Lleva Contabilida</label>
                        <input ng-model="info_empresa.obligado_lleva_contabilida" type="text" readonly>
                    </md-input-container>
                    <div flex="5"></div>
                    <md-input-container class="md-icon-float md-block" flex>
                        <label>Tipo Contribuyente</label>
                        <input ng-model="info_empresa.tipo_contribuyente" type="text" readonly>
                    </md-input-container>
                </div>
                <div layout="row">
                	<div class=" md-block" flex>
                        <label>Fecha Creación</label><br>
                        <label md-colors="{color: 'accent'}">{{info_empresa.fecha_creacion | amDateFormat:'dddd, MMMM YYYY, h:mm:ss a' | uppercase}}</label>
                    </div>
                    <div flex="5"></div>
                    <div class=" md-block" flex>
                        <label>Fecha Inicio Actividades:</label><br>
                        <label md-colors="{color: 'accent'}">{{info_empresa.fecha_inicio_actividades | amDateFormat:'dddd, MMMM YYYY, h:mm:ss a' | uppercase}}</label>
                    </div>
                </div>
	        </md-expansion-panel-content>
	    </md-expansion-panel-expanded>
	</md-expansion-panel>
	<md-expansion-panel md-component-id="expansionPanelTwo">
	    <md-expansion-panel-collapsed>
	        <div class="md-title" md-colors="{color: 'accent'}">Establecimiento / Sucursal</div>
	        <div class="md-summary"  md-colors="{color: 'indigo'}">{{info_sucursal.nombre }}</div>
	        <md-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="$panel.Expanded();">
		        <md-icon class="md-accent">keyboard_arrow_down</md-icon>
		    </md-button>
	    </md-expansion-panel-collapsed>
	    <md-expansion-panel-expanded>
	        <md-expansion-panel-header>
	            <div class="md-title">Establecimiento / Sucursal</div>
	            <div class="md-summary" md-colors="{color: 'indigo'}">{{info_sucursal.nombre}}</div>
	        </md-expansion-panel-header>
	        <md-expansion-panel-content>
	            <div layout="row">
                    <md-input-container class="md-icon-float md-block" flex>
                        <md-icon class="md-primary">airplay</md-icon>
                        <label>Nombre Comercial del establecimiento</label>
                        <input type="text" ng-model="data.nom_sucursal" uppercase ng-disabled="!data.cb1" required>
                    </md-input-container>
                    <div flex="5"></div>
                	<md-input-container class="md-icon-float md-block" flex>
                        <md-icon class="md-primary">airplay</md-icon>
                        <label>Hablanos un poco de lo que realizasas en este establecimiento</label>
                        <textarea name="bio" ng-model="form.descripcion" required md-maxlength="150"></textarea>
                        <div ng-messages="userForm.bio.$error" ng-show="userForm.bio.$dirty">
                            <div ng-message="required">This is required!</div>
                            <div ng-message="md-maxlength">That's too long!</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-button class="md-primary">content</md-button>
                </div>
	        </md-expansion-panel-content>
	        <md-expansion-panel-footer>
	            <div flex></div>
	            <md-button class="md-icon-button" aria-label="More" ng-click="$panel.collapse();">
			        <md-icon>keyboard_arrow_up</md-icon>
			    </md-button>
	        </md-expansion-panel-footer>
	    </md-expansion-panel-expanded>
	</md-expansion-panel>
    <md-expansion-panel md-component-id="expansionPanelTree">
        <md-expansion-panel-collapsed>
            <div class="md-title" md-colors="{color: 'accent'}">Giro de Negocio</div>
            <div class="md-summary" md-colors="{color: 'indigo'}">{{info_sucursal.giro_negocio.nombre}} - {{info_sucursal.giro_negocio.descripcion}}</div>
            <md-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="$panel.Expanded();">
                <md-icon class="md-accent">keyboard_arrow_down</md-icon>
            </md-button>
        </md-expansion-panel-collapsed>
        <md-expansion-panel-expanded>
            <md-expansion-panel-header>
                <div class="md-title" md-colors="{color: 'accent'}">Giro de Negocio</div>
                <div class="md-summary" md-colors="{color: 'indigo'}">{{info_sucursal.giro_negocio.nombre}} - {{info_sucursal.giro_negocio.descripcion}}</div>
            </md-expansion-panel-header>
            <md-expansion-panel-content layout="row">
                
                <md-radio-group ng-model="Tipo"  required flex>
                    <div ng-repeat='item in tipo_bienes_servicios' layout-align="start center">
                        <div flex layout='row' layout-align="start center">
                            <div flex style="max-width:200px; position: relative; text-align: right; padding-right: 10px; top: -6px;">
                                {{item.nombre}}
                            </div>
                            <md-radio-button ng-value="item.id" ng-click="selected_Tipo(item)">
                                <img src="images/tipo_sucursal/general.jpg">
                                <md-tooltip md-direction="right">
                                    {{item.descripcion | uppercase}}
                                </md-tooltip>
                            </md-radio-button>
                        </div>
                    </div>
                </md-radio-group>
                <md-input-container class="md-icon-float md-icon-left md-block" flex>
                    <md-icon class="md-primary">store_mall_directory</md-icon>
                    <lx-select ng-model="ModelTipo_Tipo_Empresa.selectedTipo" lx-allow-clear="true" lx-choices="tipo_empresas" lx-display-filter="true" lx-fixed-label="true" lx-label="Actividad econónomica" required>
                        <lx-select-selected>
                            <strong>{{ $selected.nombre}}</strong> {{ ' - '+$selected.descripcion }}
                        </lx-select-selected>
                        <lx-select-choices>
                            <strong>{{ $choice.nombre}}</strong> {{ ' - '+$choice.descripcion }}
                        </lx-select-choices>
                    </lx-select>
                </md-input-container>
            </md-expansion-panel-content>
            <md-expansion-panel-footer>
                <div flex></div>
                <md-button class="md-icon-button" aria-label="More" ng-click="$panel.collapse();">
                    <md-icon>keyboard_arrow_up</md-icon>
                </md-button>
            </md-expansion-panel-footer>
        </md-expansion-panel-expanded>
    </md-expansion-panel>
</md-expansion-panel-group>