<md-button ng-href="#/Inventario/" aria-label="btn_in">Inventario</md-button>/<md-button ng-disabled="true" class="md-primary" aria-label="btn_in">Productos</md-button>
<md-divider></md-divider>
<md-content layout-padding layout-wrap>
    <md-table-container>
      <div layout="row">
          <div flex="90">
              <md-input-container class="md-icon-float md-block" layout="column" aria-label="Close">
                  <md-icon class="md-primary">search</md-icon>
                  <label>Búsqueda</label>
                  <input name="nom_modelo" ng-model="query.filter" type="text" required>
              </md-input-container>
          </div>
          <div flex="10">
              <md-button layout="column" class="md-accent" ng-click="inv_producto_dialog_nuevo($event)">Nuevo</md-button>
          </div>
      </div>
      <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
        <thead md-head md-order="query.order" md-on-reorder="data_inv_modelo_get">
          <tr md-row>
            <th md-column md-numeric>NOMBRE</th> 
            <th md-column md-numeric>DESCRIPCIÓN</th>
            <th md-column md-numeric>VENDIBLE</th>
            <th md-column md-numeric>COMPRABLE</th>
            <th md-column md-numeric>PRECIO</th>
            <th md-column md-numeric>COSTO</th>
       		<th md-column md-numeric>CATEGORIA</th> 
       		<th md-column md-numeric>GARANTIA</th> 
       		<th md-column md-numeric>MARCA</th> 
       		<th md-column md-numeric>MODELO</th> 
       		<th md-column md-numeric>UBICACION</th> 
       		<th md-column md-numeric>CANTIDAD</th> 
<!--       		<th md-column md-numeric>CODIGO_BARAS</th>  -->
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="dessert in modelo">
              <td md-column md-numeric>NOMBRE</td> 
            <td md-column md-numeric>DESCRIPCIÓN</td>
            <td md-column md-numeric>VENDIBLE</td>
            <td md-column md-numeric>COMPRABLE</td>
            <td md-column md-numeric>PRECIO</td>
            <td md-column md-numeric>COSTO</td>
       		<td md-column md-numeric>CATEGORIA</td> 
       		<td md-column md-numeric>GARANTIA</td> 
       		<td md-column md-numeric>MARCA</td> 
       		<td md-column md-numeric>MODELO</td> 
       		<td md-column md-numeric>UBICACION</td> 
       		<td md-column md-numeric>CANTIDAD</td>  
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.pagina_actual" md-total="{{total}}" md-on-paginate="data_inv_modelo_get" md-page-select></md-table-pagination>
</md-content>