<md-dialog aria-label="FormProductos">
    <form name="form_inv_producto" ng-submit="inv_producto_nuevo()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Nuevo Producto</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width: 1100px!important">
            <div class="md-dialog-content">
                <div class="md-no-momentum">
                    <div layout="row">
                        
                    </div>
                    <div layout="row" flex="100">
                        <md-input-container class="md-icon-float md-block" flex="40">
                            <md-icon class="md-primary">view_compact</md-icon>
                            <label>Nombre Producto</label>
                            <input name="nom_producto" ng-model="data_inv_producto.nombre_corto" type="text" required >
                            <div ng-messages="form_inv_producto.nom_producto.$error" ng-show="form_inv_producto.nom_producto.$dirty">
                                <div ng-message="required">Campo Requerido</div>
                                <div ng-message="campo">Registro Repetido</div>
                            </div>
                        </md-input-container>
                        <div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
                        <md-input-container class="md-icon-float md-block">
                            <md-checkbox name="vendible" ng-model="data_inv_producto.vendible" aria-label="vendible" style="top: 10px;" >
                                VENDIBLE
                            </md-checkbox>
                            <div ng-messages="form_inv_producto.vendible.$error" ng-show="form_inv_producto.vendible.$dirty">
                                <div ng-message="required">Campo Requerido</div>
                            </div>
                        </md-input-container>
                        <div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
                        <md-input-container class="md-icon-float md-block">
                            <md-checkbox name="comprable" ng-model="data_inv_producto.comprable" aria-label="comprable" style="top: 10px;" >
                                COMPRABLE
                            </md-checkbox>
                            <div ng-messages="form_inv_producto.comprable.$error" ng-show="form_inv_producto.comprable.$dirty">
                                <div ng-message="required">Campo Requerido</div>
                            </div>
                        </md-input-container>
                        <div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
                        <md-input-container class="md-icon-float md-block" flex="40">
                            <md-icon class="md-primary">view_compact</md-icon>
                            <label>Codigo de Barras</label>
                            <input name="cod_barras" ng-model="data_inv_producto.codigo_baras" type="text">
                        </md-input-container>
                    </div>
                    <md-tabs md-dynamic-height md-border-bottom>
                       <md-tab>
                          <md-tab-label><md-icon>info</md-icon> Información General</md-tab-label>
                          <md-tab-body>
                            <md-content layout-padding layout="row">
                                <div flex>
                                    <lx-select ng-model="selectModel.selectedPerson" lx-fixed-label="true" lx-allow-clear="true" lx-choices="selectPeople" lx-display-filter="true" lx-fixed-label="true" lx-label="Tipo de Categoría" required>
                                        <lx-select-selected>
                                            {{ $selected.nombre }}
                                        </lx-select-selected>
                                        <lx-select-choices>
                                            {{ $choice.nombre }}
                                        </lx-select-choices>
                                    </lx-select>
                                    <div ng-messages="form_inv_producto.nom_modelo.$error" ng-show="form_inv_producto.nom_modelo.$dirty">
                                        <div ng-message="required">Campo Requerido</div>
                                        <div ng-message="campo">Registro Repetido</div>
                                    </div>
                                </div>
                                <div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
                                <div flex>
                                    <lx-select ng-model="selectModelTipoConsumos.selectedTipoConsumo"
                                               lx-allow-clear="true"
                                               lx-choices="selectTipoConsumos"
                                               lx-display-filter="true"
                                               lx-fixed-label="true"
                                               lx-label="Tipo de Consumo">
                                        <lx-select-selected>
                                            {{ $selected.nombre }}
                                        </lx-select-selected>
                                        <lx-select-choices>
                                            {{ $choice.nombre }}
                                        </lx-select-choices>
                                    </lx-select>
                                    <div ng-messages="form_inv_producto.descripcion.$error" ng-show="form_inv_producto.descripcion.$dirty">
                                        <div ng-message="required">Campo Requerido</div>
                                    </div>
                                </div>
                                <div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
                                <div flex>
                                    <lx-select ng-model="selectModelModelos.selectedModelo" lx-allow-clear="true" lx-choices="selectModelos" lx-display-filter="true" lx-fixed-label="true" lx-label="Modelo" lx-name="nom_modelo" required>
                                        <lx-select-selected>
                                            {{ $selected.nombre }}
                                        </lx-select-selected>
                                        <lx-select-choices>
                                            {{ $choice.nombre }}
                                        </lx-select-choices>
                                    </lx-select>
                                    <div ng-messages="form_inv_producto.nom_modelo.$error" ng-show="form_inv_producto.nom_modelo.$dirty">
                                        <div ng-message="required">Campo Requerido</div>
                                        <div ng-message="campo">Registro Repetido</div>
                                    </div>
                                </div>
                            </md-content>
                            <md-content layout="row">
                                <md-input-container class="md-icon-float md-block" flex>
                                    <label>Precio</label>
                                    <input name="nom_precio" ng-model="data_inv_producto.precio" money  required value="0">
                                    <div ng-messages="form_inv_producto.nom_precio.$error" ng-show="form_inv_producto.nom_precio.$dirty">
                                        <div ng-message="required">Campo Requerido</div>
                                    </div>
                                </md-input-container>
                                <div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
                                <md-input-container class="md-icon-float md-block" flex>
                                    <label>Costo</label>
                                    <input name="nom_modelo" ng-model="data_inv_producto.costo" money type="text">
                                    <div ng-messages="form_inv_producto.nom_modelo.$error" ng-show="form_inv_producto.nom_modelo.$dirty">
                                        <div ng-message="campo">Registro Repetido</div>
                                    </div>
                                </md-input-container>
                                <div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
                                <md-input-container class="md-icon-float md-block" flex>
                                    <label>Cantidad</label>
                                    <input name="nom_cantidad" ng-model="data_inv_producto.cantidad" type="number" ng-pattern="/^([0-9])*$/" required >
                                    <div ng-messages="form_inv_producto.nom_cantidad.$error" ng-show="form_inv_producto.nom_cantidad.$dirty">
                                        <div ng-message="required">Campo Requerido</div>
                                        <div ng-message="pattern">Solo numeros enteros</div>
                                    </div>
                                </md-input-container>
                            </md-content>
                              <div layout-gt-sm layout="row">
                                    <div class="md-icon-float md-block" flex>
                                        <lx-select ng-model="selectModelMarcas.selectedMarca"
                                                   lx-allow-clear="true"
                                                   lx-choices="selectMarcas"
                                                   lx-display-filter="true"
                                                   lx-fixed-label="true"
                                                   lx-label="Marca"
                                                   >
                                            <lx-select-selected>
                                                {{ $selected.nombre }}
                                            </lx-select-selected>
                                            <lx-select-choices>
                                                {{ $choice.nombre }}
                                            </lx-select-choices>
                                        </lx-select>
                                        <div ng-messages="form_inv_producto.nom_modelo.$error" ng-show="form_inv_producto.nom_modelo.$dirty">
                                            <div ng-message="required">Campo Requerido</div>
                                            <div ng-message="campo">Registro Repetido</div>
                                        </div>
                                    </div>


                                    <div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
                                    <div flex>
                                        <lx-select ng-model="selectModelGarantia.selectedGarantia"
                                                   lx-allow-clear="true"
                                                   lx-choices="selectGarantias"
                                                   lx-display-filter="true"
                                                   lx-fixed-label="true"
                                                   lx-label="Garantia">
                                            <lx-select-selected>
                                                {{ $selected.nombre }}
                                            </lx-select-selected>
                                            <lx-select-choices>
                                                {{ $choice.nombre }}
                                            </lx-select-choices>
                                        </lx-select>
                                        <div ng-messages="form_inv_producto.nom_modelo.$error" ng-show="form_inv_producto.nom_modelo.$dirty">
                                            <div ng-message="required">Campo Requerido</div>
                                            <div ng-message="campo">Registro Repetido</div>
                                        </div>
                                    </div>
                                    <div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
                                    <div flex>
                                        <lx-select ng-model="selectModelUbicaciones.selectedUbicacion"
                                                   lx-allow-clear="true"
                                                   lx-choices="selectUbicaciones"
                                                   lx-display-filter="true"
                                                   lx-fixed-label="true"
                                                   lx-label="Ubicacion">
                                            <lx-select-selected>
                                                {{ $selected.nombre }}
                                            </lx-select-selected>
                                            <lx-select-choices>
                                                {{ $choice.nombre }}
                                            </lx-select-choices>
                                        </lx-select>
                                        <div ng-messages="form_inv_producto.nom_modelo.$error" ng-show="form_inv_producto.nom_modelo.$dirty">
                                            <div ng-message="required">Campo Requerido</div>
                                            <div ng-message="campo">Registro Repetido</div>
                                        </div>
                                    </div>
                                    <div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
                                    <div flex>
                                        <lx-select ng-model="selectModelED.selectedED" lx-allow-clear="true" lx-choices="selectED" lx-display-filter="true" lx-fixed-label="true" lx-label="Estado Descriptivo">
                                            <lx-select-selected>
                                                {{ $selected.nombre }}
                                            </lx-select-selected>
                                            <lx-select-choices>
                                                {{ $choice.nombre }}
                                            </lx-select-choices>
                                        </lx-select>
                                        <div ng-messages="form_inv_producto.nom_modelo.$error" ng-show="form_inv_producto.nom_modelo.$dirty">
                                            <div ng-message="required">Campo Requerido</div>
                                            <div ng-message="campo">Registro Repetido</div>
                                        </div>
                                    </div>
                                </div>
                          </md-tab-body>
                       </md-tab>
                       <md-tab>
                          <md-tab-label><md-icon>note</md-icon> Notas</md-tab-label>
                          <md-tab-body>
                                <md-input-container class="md-icon-float md-block" flex>
                                    <md-icon class="md-primary">view_compact</md-icon>
                                    <label>Descripción</label>
                                    <input name="nom_descripcion" ng-model="data_inv_producto.descripcion" type="text">
                                    <div ng-messages="form_inv_producto.nom_descripcion.$error" ng-show="form_inv_producto.nom_descripcion.$dirty">
                                        <div ng-message="required">Campo Requerido</div>
                                        <div ng-message="campo">Registro Repetido</div>
                                    </div>
                                </md-input-container>
                          </md-tab-body>
                       </md-tab>
                       <md-tab>
                          <md-tab-label></md-tab-label>
                          <md-tab-body>
                            <div class="row">
                                
                            </div>
                          </md-tab-body>
                       </md-tab>
                    </md-tabs>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">Cancelar</md-button>
            <md-button type="reset">Limpiar</md-button>
            <md-button class="md-raised md-primary" type="submit" ng-disabled="form_inv_producto.$invalid">Guardar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

<!-- <style type="text/css">
    .dialogdemoBasicUsage #popupContainer {
  position: relative; }

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }

.dialogdemoBasicUsage button {
  width: 200px; }

.dialogdemoBasicUsage div#status {
  color: #c60008; }

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
  margin-bottom: 0; }
</style> -->