<style type="text/css">
  .file-drop-zone {
            border: 2px dashed #ddd;
            padding: 30px;
            text-align: center;
            flex: 40%; 
        }
</style>
<md-content class="md-padding" flex-gt-md="100" layout-xs="column" layout="row">  <!-- ng-controller="SubirFacCtrl" -->
   <div flex-xs flex-gt-xs="40" layout="column">
       <form name="facturasForm" ng-submit="guardar_factura_electronica()" >
       <h5>Subir Factura:</h5>
           <div layout-gt-sm="row" class="file-drop-zone">
                <md-input-container class="md-icon-float md-block" flex-gt-sm>
                    <md-icon class="md-accent md-48">backup</md-icon>
                    <input type="file" ng-model="data.xml_file" on-read-file="showContent($fileContent)" accept="text/xml" aria-label="input-content"/>
                    <br>
                </md-input-container>
            </div>
       </form>
       <br>
       <form name="formsearchruc" ng-submit="buscar_clave_acceso()">
           <div layout="row" flex>
               <md-input-container class="md-icon-float md-block" flex-gt-xs>
                   <label>INGRESE CLAVE DE ACCESO</label>
                   <md-icon class="md-accent">dns</md-icon>
                   <input type="text" id="clave" name="clave" ng-model="data.clave" md-maxlength="49" ng-maxlength="49" autocomplete="off" md-autofocus numbers-only required >
                   <div ng-messages="formsearchruc.ruc.$error" ng-show="formsearchruc.ruc.$dirty">
                       <div ng-message="required" class="my-message">La clave de ecceso es requerido</div>
                       <div ng-message="minlength" class="my-message">La clave de ecceso contiene minimo 49 digitos</div>
                       <div ng-message="numbersOnly" class="my-message">Ingresar solo numeros</div>
                   </div>
               </md-input-container>
               <md-button class="md-fab md-mini md-btn-second" type="submit" ng-disabled="formsearchruc.$invalid">
                   <md-icon class="material-icons">search</md-icon>
               </md-button>
           </div>
       </form>
    </div>

    <div flex-xs flex-gt-xs="20" layout="column">
    </div>
    <div flex-xs flex-gt-xs="40" layout="column">
        <img width="100%" alt="150x150" src="images/repositorio_factura/factura.png" />
    </div>    
</md-content>