<md-sidenav style="max-width:300px;" layout="column" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" flex>
    <md-content layout="column">
        <md-list-item href="#/App" >
            <md-icon>pages</md-icon>
            <p>APP</p>
            <md-icon>pages</md-icon>
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Menu de Aplicación</md-subheader>
        <md-list-item ng-href="#{{item.path}}" ng-show="item.permisos.accion_ver" ng-repeat="item in menu.children">
            <p> {{item.nombre}}</p>
            <md-icon>{{item.personalizacion.icon}}</md-icon>
        </md-list-item>
    </md-content>
</md-sidenav>
<md-content flex class="md-padding" layout="column" >
    <div app-view-segment="3"></div>
</md-content>