<md-content class="md-sidenav-left " md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" flex="20" style="background: #EEEEEE">
    <md-subheader class="md-no-sticky" style="background: #EEEEEE">Configuración Personal</md-subheader>
    <md-list-item  ng-href="#/nb/App/Config/PerfilPersonal">
        <md-icon>settings_aplication</md-icon>
        <p>Información Personal</p>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky" style="background: #EEEEEE">Informacion Empresa</md-subheader>
    <md-list-item  ng-href="#/nb/App/Config/PerfilEmpresa">
        <md-icon>business_center</md-icon>
        <p>Configuración Empresa</p>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky" style="background: #EEEEEE">Información Sucursal</md-subheader>
    <md-list-item  ng-href="#/nb/App/Config/PerfilSucursal">
        <md-icon>business_center</md-icon>
        <p>Configuración Sucursal</p>
    </md-list-item>
</md-content>
<md-content flex layout-padding app-view-segment="3"></md-content>
