<md-dialog aria-label="FormProductos" style="width: 1100px!important">
    <form name="form_inv_producto" ng-submit="inv_producto_nuevo()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>NUEVO BIEN DE LOS RECURSO DE {{inf_sucursal.nombre}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-expansion-panel-group md-component-id="expansionPanelGroup">
                <md-expansion-panel md-component-id="expansionPanelOne">
                    <md-expansion-panel-collapsed>
                        <div class="md-title">INFORMACIÓN GENERAL</div>
                        <div class="md-summary">{{data_usuario.primer_nombre}} {{data_usuario.segundo_nombre}} {{data_usuario.primer_apellido}} {{data_usuario.segundo_apellido}}</div>
                        <md-button class="md-icon-button md-accent" aria-label="More" ng-click="$panel.collapse();">
                            <md-icon>keyboard_arrow_down</md-icon>
                        </md-button>
                    </md-expansion-panel-collapsed>
                    <md-expansion-panel-expanded>
                        <md-expansion-panel-header>
                            <div class="md-title">INFORMACIÓN GENERAL</div>
                            <div class="md-summary">{{data_usuario.primer_nombre}} {{data_usuario.segundo_nombre}} {{data_usuario.primer_apellido}} {{data_usuario.segundo_apellido}}</div>
                        </md-expansion-panel-header>
                        <md-expansion-panel-content>
                            <div layout="row" flex>
                                <md-input-container class="md-icon-float md-block" flex>
                                    <md-icon class="md-primary">view_compact</md-icon>
                                    <label>Nombre del Bien</label>
                                    <input name="nom_producto" ng-model="data_inv_producto.nombre_corto" type="text" required >
                                    <div ng-messages="form_inv_producto.nom_producto.$error" ng-show="form_inv_producto.nom_producto.$dirty">
                                        <div ng-message="required">Campo Requerido</div>
                                        <div ng-message="campo">Registro Repetido</div>
                                    </div>
                                </md-input-container>
                                <div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
                                <md-input-container class="md-icon-float md-block" flex>
                                    <md-icon class="md-primary">attach_money</md-icon>
                                    <label>Precio</label>
                                    <input name="nom_precio" ng-model="data_inv_producto.precio" money  required value="0">
                                    <div ng-messages="form_inv_producto.nom_precio.$error" ng-show="form_inv_producto.nom_precio.$dirty">
                                        <div ng-message="required">Campo Requerido</div>
                                    </div>
                                </md-input-container>
                                <!-- <div flex="5" hide-xs hide-sm></div> -->
                                <md-input-container class="md-icon-float md-block" flex ng-show="false">
                                    <md-icon class="md-primary">monetization_on</md-icon>
                                    <label>Costo</label>
                                    <input name="nom_modelo" ng-model="data_inv_producto.costo" money type="text">
                                    <div ng-messages="form_inv_producto.nom_modelo.$error" ng-show="form_inv_producto.nom_modelo.$dirty">
                                        <div ng-message="campo">Registro Repetido</div>
                                    </div>
                                </md-input-container>
                                <div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
                                <md-input-container class="md-icon-float md-block" flex>
                                    <md-icon class="md-primary">view_agenda</md-icon>
                                    <label>Cantidad</label>
                                    <input name="nom_cantidad" ng-model="data_inv_producto.cantidad" type="number" ng-pattern="/^([0-9])*$/" required >
                                    <div ng-messages="form_inv_producto.nom_cantidad.$error" ng-show="form_inv_producto.nom_cantidad.$dirty">
                                        <div ng-message="required">Campo Requerido</div>
                                        <div ng-message="pattern">Solo numeros enteros</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row" flex>
                                <md-input-container class="md-icon-float md-block" flex>
                                    <md-icon class="md-primary">equalizer</md-icon>
                                    <label>Codigo de Barras</label>
                                    <input name="cod_barras" ng-model="data_inv_producto.codigo_baras" type="text">
                                </md-input-container>
                                <div flex="5" hide-xs hide-sm></div>
                                <md-input-container class="md-icon-float md-block" flex>
                                    <md-icon class="md-primary">view_compact</md-icon>
                                    <label>Descripción</label>
                                    <input name="nom_descripcion" ng-model="data_inv_producto.descripcion" type="text">
                                    <div ng-messages="form_inv_producto.nom_descripcion.$error" ng-show="form_inv_producto.nom_descripcion.$dirty">
                                        <div ng-message="required">Campo Requerido</div>
                                        <div ng-message="campo">Registro Repetido</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </md-expansion-panel-content>
                    </md-expansion-panel-expanded>
                </md-expansion-panel>
                <md-expansion-panel md-component-id="expansionPanelTwo">
                    <md-expansion-panel-collapsed>
                        <div class="md-title">CATEGORÍAS/IMPUESTOS</div>
                        <div class="md-summary">{{data_usuario.correo_electronico}}</div>
                        <md-button class="md-icon-button md-accent" aria-label="More" ng-click="$panel.collapse();">
                            <md-icon>keyboard_arrow_down</md-icon>
                        </md-button>
                    </md-expansion-panel-collapsed>
                    <md-expansion-panel-expanded>
                        <md-expansion-panel-header>
                            <div class="md-title">CATEGORÍAS/IMPUESTOS</div>
                            <div class="md-summary">{{data_usuario.correo_electronico}}</div>
                        </md-expansion-panel-header>
                        <md-expansion-panel-content>
                            <div layout="row" flex>
                                <md-input-container class="md-icon-float md-block" flex>
                                    <lx-select ng-model="selectModel.selectedPerson" ng-change="change_hijo()" lx-fixed-label="true" lx-allow-clear="true" lx-choices="categorias_list" lx-display-filter="true" lx-fixed-label="true" lx-label="Categoría" lx-multiple="true" required>
                                        <lx-select-selected>
                                            {{ $selected.nombre +'/'}}
                                        </lx-select-selected>
                                        <lx-select-choices>
                                            {{ $choice.nombre }}
                                        </lx-select-choices>
                                    </lx-select>
                                    <div ng-messages="form_inv_producto.nom_modelo.$error" ng-show="form_inv_producto.nom_modelo.$dirty">
                                        <div ng-message="required">Campo Requerido</div>
                                        <div ng-message="campo">Registro Repetido</div>
                                    </div>
                                </md-input-container>
                                <div flex="5" hide-xs hide-sm>
                                    <md-button class="md-icon-button md-accent" aria-label="More">
                                        <md-icon>add_circle</md-icon>
                                        <md-tooltip>Nueva Categoría</md-tooltip>
                                    </md-button>                                    
                                </div>
                                <md-input-container class="md-icon-float md-block" flex>
                                    <lx-select ng-model="selectModelTipoConsumos.selectedTipoConsumo"
                                               lx-allow-clear="true"
                                               lx-choices="selectTipoConsumos"
                                               lx-display-filter="true"
                                               lx-fixed-label="true"
                                               lx-label="Tipo de Consumo">
                                        <lx-select-selected>
                                            {{ $selected.nombre }}
                                        </lx-select-selected>
                                        <lx-select-choices>
                                            {{ $choice.nombre }}
                                        </lx-select-choices>
                                    </lx-select>
                                    <div ng-messages="form_inv_producto.descripcion.$error" ng-show="form_inv_producto.descripcion.$dirty">
                                        <div ng-message="required">Campo Requerido</div>
                                    </div>
                                </md-input-container>
                                <div flex="5" hide-xs hide-sm>
                                    <md-button class="md-icon-button md-accent" aria-label="More">
                                        <md-icon>add_circle</md-icon>
                                        <md-tooltip>Nuevo Tipo de Consumo</md-tooltip>
                                    </md-button>
                                </div>
                                <md-input-container class="md-icon-float md-block" flex>
                                    <lx-select  ng-model="selectModelED.selectedED" 
                                                lx-allow-clear="true" 
                                                lx-choices="selectED" 
                                                lx-display-filter="true" 
                                                lx-fixed-label="true" 
                                                lx-label="Estado Descriptivo">
                                        <lx-select-selected>
                                            {{ $selected.nombre }}
                                        </lx-select-selected>
                                        <lx-select-choices>
                                            {{ $choice.nombre }}
                                        </lx-select-choices>
                                    </lx-select>
                                    <div ng-messages="form_inv_producto.nom_modelo.$error" ng-show="form_inv_producto.nom_modelo.$dirty">
                                        <div ng-message="required">Campo Requerido</div>
                                        <div ng-message="campo">Registro Repetido</div>
                                    </div>
                                </md-input-container>
                                <div flex="5" hide-xs hide-sm>
                                    <md-button class="md-icon-button md-accent" aria-label="More">
                                        <md-icon>add_circle</md-icon>
                                        <md-tooltip>Nuevo Estado Descriptivo</md-tooltip>
                                    </md-button>
                                </div>
                                <md-input-container class="md-icon-float md-block" flex>
                                    <lx-select ng-model="selectModelImpuestos.selectedImpuestos"
                                                                   lx-choices="selectImpuestos"
                                                                   lx-fixed-label="true"
                                                                   lx-label="Impuestos"
                                                                   lx-multiple="true">
                                        <lx-select-selected>
                                            {{ $selected.nombre }}
                                        </lx-select-selected>
                                        <lx-select-choices>
                                            {{ $choice.nombre }}
                                        </lx-select-choices>
                                    </lx-select>
                                </md-input-container>
                                <div flex="5" hide-xs hide-sm>
                                    <md-button class="md-icon-button md-accent" aria-label="More">
                                        <md-icon>add_circle</md-icon>
                                        <md-tooltip>Nuevo Impuesto</md-tooltip>
                                    </md-button>
                                </div>
                            </div>
                        </md-expansion-panel-content>
                    </md-expansion-panel-expanded>
                </md-expansion-panel>
                <md-expansion-panel md-component-id="expansionPanelTree">
                    <md-expansion-panel-collapsed>
                        <div class="md-title">MODELO / GARANTÍA</div>
                        <div class="md-summary">Actualizada Hace 12 dias</div>
                        <md-button class="md-icon-button md-accent" aria-label="More" ng-click="$panel.collapse();">
                            <md-icon>keyboard_arrow_down</md-icon>
                        </md-button>
                    </md-expansion-panel-collapsed>
                    <md-expansion-panel-expanded>
                        <md-expansion-panel-header>
                            <div class="md-title">MODELO / GARANTÍA</div>
                            <div class="md-summary">Actualizada Hace 12 dias</div>
                        </md-expansion-panel-header>
                        <md-expansion-panel-content>
                            <div layout="row" flex>
                                <md-input-container class="md-icon-float md-block" flex>
                                    <lx-select ng-model="selectModelMarcas.selectedMarca"
                                                                   lx-allow-clear="true"
                                                                   lx-choices="selectMarcas"
                                                                   lx-display-filter="true"
                                                                   lx-fixed-label="true"
                                                                   lx-label="Marca">
                                        <lx-select-selected>
                                            {{ $selected.nombre }}
                                        </lx-select-selected>
                                        <lx-select-choices>
                                            {{ $choice.nombre }}
                                        </lx-select-choices>
                                    </lx-select>
                                    <div ng-messages="form_inv_producto.nom_modelo.$error" ng-show="form_inv_producto.nom_modelo.$dirty">
                                        <div ng-message="required">Campo Requerido</div>
                                        <div ng-message="campo">Registro Repetido</div>
                                    </div>
                                </md-input-container>
                                <div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
                                <md-input-container class="md-icon-float md-block" flex>
                                    <lx-select  ng-model="selectModelModelos.selectedModelo" 
                                                lx-allow-clear="true" 
                                                lx-choices="selectModelos" 
                                                lx-display-filter="true" 
                                                lx-fixed-label="true" 
                                                lx-label="Modelo" 
                                                lx-name="nom_modelo" required>
                                        <lx-select-selected>
                                            {{ $selected.nombre }}
                                        </lx-select-selected>
                                        <lx-select-choices>
                                            {{ $choice.nombre }}
                                        </lx-select-choices>
                                    </lx-select>
                                    <div ng-messages="form_inv_producto.nom_modelo.$error" ng-show="form_inv_producto.nom_modelo.$dirty">
                                        <div ng-message="required">Campo Requerido</div>
                                        <div ng-message="campo">Registro Repetido</div>
                                    </div>
                                </md-input-container>
                                <div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
                                <md-input-container class="md-icon-float md-block" flex>
                                    <lx-select ng-model="selectModelUbicaciones.selectedUbicacion"
                                                                   lx-allow-clear="true"
                                                                   lx-choices="selectUbicaciones"
                                                                   lx-display-filter="true"
                                                                   lx-fixed-label="true"
                                                                   lx-label="Ubicacion">
                                        <lx-select-selected>
                                            {{ $selected.nombre }}
                                        </lx-select-selected>
                                        <lx-select-choices>
                                            {{ $choice.nombre }}
                                        </lx-select-choices>
                                    </lx-select>
                                    <div ng-messages="form_inv_producto.nom_modelo.$error" ng-show="form_inv_producto.nom_modelo.$dirty">
                                        <div ng-message="required">Campo Requerido</div>
                                        <div ng-message="campo">Registro Repetido</div>
                                    </div>
                                </md-input-container>
                                <div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
                                <md-input-container class="md-icon-float md-block" flex>
                                    <lx-select ng-model="selectModelGarantia.selectedGarantia"
                                                                   lx-allow-clear="true"
                                                                   lx-choices="selectGarantias"
                                                                   lx-display-filter="true"
                                                                   lx-fixed-label="true"
                                                                   lx-label="Garantia">
                                        <lx-select-selected>
                                            {{ $selected.nombre }}
                                        </lx-select-selected>
                                        <lx-select-choices>
                                            {{ $choice.nombre }}
                                        </lx-select-choices>
                                    </lx-select>
                                    <div ng-messages="form_inv_producto.nom_modelo.$error" ng-show="form_inv_producto.nom_modelo.$dirty">
                                        <div ng-message="required">Campo Requerido</div>
                                        <div ng-message="campo">Registro Repetido</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </md-expansion-panel-content>
                    </md-expansion-panel-expanded>
                </md-expansion-panel>
            </md-expansion-panel-group>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">Cancelar</md-button>
            <md-button type="reset">Limpiar</md-button>
            <md-button class="md-raised md-primary" type="submit" ng-disabled="form_inv_producto.$invalid">Guardar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>