<div layout="row">
    <div flex>
        <md-toolbar class="md-toolbar-second">
            <div class="md-toolbar-tools">
                <input ng-model="data.ruc_ci" type="text" required placeholder="Buscar Cliente (Cedula,Ruc)" class="toolbar_search" ng-keyup="buscar_cliente()">
                <button class="md-fab md-mini md-button md-ink-ripple" type="button" ng-click="buscar_cliente()">
                    <md-icon class="material-icons ng-scope">search</md-icon>
                </button>
                <button class="md-fab md-mini md-button md-ink-ripple" type="button" ng-click="add_cliente()">
                    <md-tooltip md-direction="Bottom">Añadir Cliente</md-tooltip>
                    <md-icon class="material-icons ng-scope">add</md-icon>
                </button>
                <span flex></span>
                <input ng-model="data.num_fac" type="text" required class="toolbar_factura_pre">
            </div>
        </md-toolbar>
        <md-table-container layout-padding>
            <form name="form_add" ng-submit="guardar()">
                <div layout="row">
                    <md-input-container class="md-icon-float md-block" flex>
                        <label>Nombres Completos</label>
                        <md-icon class="md-primary">person</md-icon>
                        <input name="nombres_completos" ng-model="data.nombres_completos" type="text" letras-only readonly>
                        <div ng-messages="form_add.nombres_completos.$error">
                            <div ng-message="required" ng-show="form_add.nombres_completos.$error.required">Campo Requerido</div>
                        </div>
                    </md-input-container>
                    <div flex="5"></div>
                    <md-input-container class="md-icon-float md-block" flex>
                        <label>Teléfono/Celular</label>
                        <md-icon class="md-primary">phone</md-icon>
                        <input name="telefono" ng-model="data.telefono" type="text" numeros-only limit-to="10" readonly>
                        <div ng-messages="form_add.telefono.$error">
                            <div ng-message="required" ng-show="form_add.telefono.$error.required">Campo Requerido</div>
                        </div>
                    </md-input-container>
                    <div flex="5"></div>
                    <md-input-container class="md-icon-float md-block" flex>
                        <label>Correo</label>
                        <md-icon class="md-primary">email</md-icon>
                        <input name="correo" ng-model="data.correo" type="email" readonly>
                        <div ng-messages="form_add.correo.$error">
                            <div ng-message="required" ng-show="form_add.correo.$error.email">Email Incorrecto</div>
                            <div ng-message="required" ng-show="form_add.correo.$error.required">Campo Requerido</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" style="position: relative; top: -30px">
                    <md-input-container class="md-icon-float md-block" flex>
                        <label>Dirección</label>
                        <md-icon class="md-primary">location_on</md-icon>
                        <input name="direccion" ng-model="data.direccion" type="text" readonly>
                        <div ng-messages="form_add.direccion.$error">
                            <div ng-message="required" ng-show="form_add.direccion.$error.required">Campo Requerido</div>
                        </div>
                    </md-input-container>
                    <div flex="5"></div>
                    <md-input-container class="md-icon-float md-block" flex>
                            <lx-select  ng-model="form_add.selectModelTipoComprobantes" 
                                        lx-fixed-label="true" 
                                        lx-allow-clear="true" 
                                        lx-choices="selectComprobante" 
                                        lx-display-filter="true" 
                                        lx-fixed-label="true" 
                                        lx-label="TIPO COMPROBANTE" required>
                                <lx-select-selected>
                                    {{ $selected.nombre }}
                                </lx-select-selected>
                                <lx-select-choices>
                                    {{ $choice.nombre }}
                                </lx-select-choices>
                            </lx-select>
                            <div ng-show="form_add.selectModelTipoComprobantes==undefinied" style="color: rgba(255, 0, 0, 0.64);  font-size: 12px;">Campo Requerido *</div>
                        </md-input-container>
                    <div flex="5"></div>
                    <md-input-container class="md-icon-float md-block" flex>
                        <lx-select ng-model="form_add.Select_Forma_Pago" 
                        lx-fixed-label="true" 
                        lx-allow-clear="true" 
                        lx-choices="selectForma_Pago" 
                        lx-display-filter="true" 
                        lx-fixed-label="true" 
                        lx-label="FORMA DE PAGO" required>
                            <lx-select-selected>
                                {{ $selected.nombre }}
                            </lx-select-selected>
                            <lx-select-choices>
                                {{ $choice.nombre }}
                            </lx-select-choices>
                        </lx-select>
                        <div ng-show="form_add.Select_Forma_Pago==undefinied" style="color: rgba(255, 0, 0, 0.64);  font-size: 12px;">Campo Requerido *</div>
                    </md-input-container>
                </div>
            </form>
            <div layout="row">
                <md-button class="md-secondary" flex disabled><strong>DETALLES DE LA FACTURA</strong></md-button>
            </div>
            <md-divider></md-divider>
            <div layout="row">
                <table md-table md-progress="promise" flex="70">
                    <thead md-head md-order="query.order" md-on-reorder="data_inv_producto_get">
                        <tr md-row>
                            <th md-column md-numeric>CODIGO</th>
                            <th md-column md-numeric>DESCRIPCION</th>
                            <th md-column md-numeric>CANTIDADES</th>
                            <th md-column md-numeric>P.V.P.</th>
                            <th md-column md-numeric>DESC</th>                            
                            <th md-column md-numeric>TOTAL</th>
                            <th md-column md-numeric>QUITAR</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="detalle" md-select-id="name" md-auto-select ng-repeat="detalle in detalles_fac">
                            <td md-cell>{{detalle.nombre_corto}}</td>
                            <td md-cell>{{detalle.precio}}</td>
                            <td md-cell>
                                <md-input-container>
                                    <input value="{{detalle.cantidad_fac}}" ng-model="detalle.cantidad_fac" ng-keyup="add_prod_fac_from_input(detalle)" ng-change="add_prod_fac_from_input(detalle)" type="number" style="width: 50px;" aria-label="Cantidad Modal" select-on-click>

                                </md-input-container>
                            </td>
                            <td md-cell>{{detalle.total_fac}}</td>
                            <td md-cell>
                                <md-button class="md-icon-button md-accent" aria-label="Quitar" ng-click="delete_prod_fac(dessert)">
                                    <md-tooltip md-direction="Bottom">Quitar</md-tooltip>
                                    <md-icon class="material-icons">delete_forever</md-icon>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div flex="30">
                    <table md-table flex>
                        <thead md-head md-order="query.order" md-on-reorder="data_inv_producto_get">
                        <tr md-row>
                            <th md-column md-numeric>SUBTORAL</th><th md-column md-numeric>00.00</th>
                        </tr>
                        <tr md-row>
                            <th md-column md-numeric>TARIFA 0</th><th md-column md-numeric>00.00</th>
                        </tr>
                        <tr md-row>
                            <th md-column md-numeric>TARIFA 14</th><th md-column md-numeric>00.00</th>
                        </tr>
                        <tr md-row>
                            <th md-column md-numeric>DESCUENTO</th><th md-column md-numeric>00.00</th>
                        </tr>
                        <tr md-row>
                            <th md-column md-numeric>TOTAL A PAGAR</th><th md-column md-numeric>00.00</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                    </tbody>
                    </table>
                    <!-- <table md-table ng-model="selected" md-progress="promise" flex>
                        <tbody style="font-size: 12px; font-family: Roboto,Helvetica Neue, sans-serif;">
                            <tr ng-repeat="dessert in totales">
                                <td></td>
                                <td></td>
                                <td style="    width: 65%;"></td>
                                <td><strong>{{dessert.label}}</strong></td>
                                <td>{{dessert.valor}}</td>
                            </tr>
                        </tbody>
                    </table> -->
                    <!-- <table md-table ng-model="selected" md-progress="promise">
                        <thead md-head md-order="query.order" md-on-reorder="data_rep_facturas_get">
                            <tr md-row>
                                <th md-column md-numeric ng-repeat="total in totales"><strong>{{total.nombre}}</strong></th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row md-select="dessert" md-select-id="name" md-auto-select>
                                <td md-cell ng-repeat="total in totales">{{filtromoney(total.total)}}</td>
                            </tr>
                        </tbody>
                    </table> -->
                </div>
            </div>            
        </md-table-container>
    </div>
</div>